<div>
    <div>
        <div>
            <div>
                <h4>Purchase Journal Voucher</h4>
            </div>
            <div>
            	<div class="form-content">
			<div class="step-form">
				<div class="horizontal-align -between">
					<div class="side-one">
						<div class="horizontal-align -between content">
							<div class="form-group field">
								<label class="label capitalize-text">PJV Number</label>
								<input type="text" readonly class="form-control -border" ng-model="$ctrl.pv.number"/>
							</div>
						</div>
					</div>
					
					<div class="side-two">
						<div class="form-group">
							<div class="horizontal-align -between content">
								<div class="form-group field">
									<label class="label capitalize-text">Date</label>
									<p class="form-control -border">{{$ctrl.pv.date | date}}</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		
		<div >
		<div class="form-content">
			<div class="step-form">
					<div class="horizontal-align -between">
						<div class="side-one">
							<div class="horizontal-align -between content">
								<div class="form-group field">
									<label class="label capitalize-text">RR Number</label>
									<input type="text" readonly class="form-control -border" ng-model="$ctrl.pv.rrNumber" />
								</div>
								<div class="form-group field">
									<label class="label capitalize-text">Date</label>
									<p class="form-control -border">{{$ctrl.pv.rrDate | date}}</p>
								</div>
							</div>
						</div>
					</div>
			</div>
		</div>
		<div class="form-content">
			<div class="step-form">
					<div class="horizontal-align -between">
						<div class="side-one">
							<div class="horizontal-align -between content">
								<div class="form-group field">
									<label class="label capitalize-text">Payee Code</label>
									<input type="text" readonly class="form-control -border" ng-model="$ctrl.pv.vendor.code" />
								</div>
								<div class="form-group field">
									<label class="label capitalize-text">Payee</label>
									<input type="text" readonly ng-model="$ctrl.pv.vendor.name" class="form-control -border" />
								</div>
							</div>
						</div>
					</div>
			</div>
		</div>

		<table class='table table-list'>
              <tbody>
              	<tr>
              		<th>SI #</th>
              		<td>{{$ctrl.pv.siNumber}}</td>
              	</tr>
              	<tr>
              		<th>DR #</th>
              		<td>{{$ctrl.pv.drNumber}}</td>
              	</tr>
              	<tr>
              		<th>PO #</th>
              		<td>{{$ctrl.pv.poNumber}}</td>
              	</tr>
              </tbody>
			</table>
		</div>
		
		
		<account-title-table
			accounttitles="$ctrl.pv.accountTitles"
			readonly="true"
		></account-title-table>
		<div class="form-content">
			<div class="step-form">
					<div class="horizontal-align -between">
						<div class="side-one">
							<div class="horizontal-align -between content">
								<div class="form-group field">
									<label class="label capitalize-text">Total Debit Amount</label>
									<input type="text" readonly class="form-control -border" ng-model="$ctrl.pv.totalDebitAmount" />
								</div>
								<div class="form-group field">
									<label class="label capitalize-text">Total Credit Amount</label>
									<input type="text" readonly ng-model="$ctrl.pv.totalCreditAmount" class="form-control -border" />
								</div>
							</div>
						</div>
					</div>
			</div>
		</div>
			<div class="step-form">
			<div class="horizontal-align -between">
				<div class="side-one">
					<div class="horizontal-align -between content">
						<div class="form-group field">
							<label class="label capitalize-text">Remarks</label>
							<textarea type="text" class="form-control -border" disabled ng-model="$ctrl.pv.remarks"></textarea>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="form-content">
			<div class="step-form">
					<div class="horizontal-align -between">
						<div class="side-one">
							<div class="horizontal-align -between content">
								<div class="form-group field">
									<label class="label capitalize-text">Prepared By:</label>
									<input type="text" readonly class="form-control -border" ng-value="$ctrl.preparedBy" />
								</div>
								<div class="form-group field">
									<label class="label capitalize-text">Approved By:</label>
									<input type="text" readonly ng-value="$ctrl.approvedBy" class="form-control -border" />
								</div>
								<div class="form-group field">
									<label class="label capitalize-text">Checked By:</label>
									<input type="text" readonly class="form-control -border" />
								</div>
							</div>
						</div>
					</div>
			</div>
		</div>
            </div>
            <div class='modal-footer'>
                <p class='date'>Created at {{$ctrl.pv.date | date}}</p>
            </div>
        </div>
    </div>
</div>