<div class='modal fade' id='prfInfoModal'>
  <div class='modal-dialog -bg'>
    <div class='modal-content'>
      <div class='modal-header'>
        <h4 class='modal-title'>PRF No. {{ $ctrl.prf.number }} {{$ctrl.prf.date | date}}</h4>
        <button class='close'>
          <span class='ion-android-close close-modal' data-dismiss="modal"></span>
        </button>
      </div>
      <div class='modal-body'>
        <div class='horizontal-align -between modal-information'>
          <p class='title'>
            Date Needed
            <span class='content'>{{ $ctrl.prf.dateNeeded | date }}</span>
          </p>
        </div>
        <div class='horizontal-align -between modal-information'>
        	  <p class='title'>
            Requested By:
            <span class='content'>{{$ctrl.prf.requestedBy.firstName}} {{$ctrl.prf.requestedBy.lastName}}</span>
          </p>
        </div>
        <a target="_blank" href="/admin/shared/print-prf/{{$ctrl.prf.id}}" class="btn btn-info">Print Purchase Request</a>
        <div id="purchaseRequestsDiv">
			<table class='table table-hover'>
              <thead>
                <tr>
                  <th>Code</th>
                  <th>Item</th>
                  <th>Quantity</th>
                  <th>Unit</th>
                  <th>Status</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="requestedItem in $ctrl.prf.requestedItems">
                  <td>{{requestedItem.item.code}}</td>
                  <td>{{requestedItem.item.name}}</td>
                  <td>{{requestedItem.quantityRequested}}</td>
                  <td>{{requestedItem.item.unit.code}}</td>
                  <td>{{requestedItem.status}}</td>
                  <td>
                  <p ng-if="requestedItem.status == 'Cancelled'">{{requestedItem.cancelReq.reason}}</p>
                  <a ng-if="requestedItem.status != 'PO Created' && requestedItem.status != 'Cancelled' " target="_blank" ng-click="$ctrl.cancelItem(requestedItem)" data-toggle="modal" data-target="#cancelItemDiv" class="btn btn-danger">Cancel</a>
                  </td>
                </tr>
              </tbody>
            </table>
		</div>
        <div class='horizontal-align -between modal-information'>
          <p class='title'>
            Remarks:
            <span class='content'>{{$ctrl.prf.remarks}}</span>
          </p>
        </div>
      </div>
      <div class='modal-footer'>
        <p class='date'>Created at {{$ctrl.prf.date | date}}</p>
        <button class='btn btn-create' ng-if="$ctrl.prf.status != 'Approved' && $ctrl.prf.status != 'Rejected' && $ctrl.prf.status != 'Cancelled'" ng-click="$ctrl.approve($ctrl.prf.id)" data-dismiss="modal">Approve</button>
        <button class='btn btn-danger' ng-if="$ctrl.prf.status != 'Approved' && $ctrl.prf.status != 'Rejected' && $ctrl.prf.status != 'Cancelled'" ng-click="$ctrl.reject($ctrl.prf.id)">Reject</button>
        <button class='btn btn-cancel' data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class='modal fade' id='cancelItemDiv'>
  <div class='modal-dialog -bg'>
    <div class='modal-content'>
    <form novalidate ng-submit="$ctrl.submitCancel();" method="post">
      <div class='modal-header'>
      	<h4 class='modal-title'>Cancel {{$ctrl.cancelledItem.requestedItem.item.code}}</h4>
        <button class='close'>
          <span class='ion-android-close close-modal' data-dismiss="modal"></span>
        </button>
      </div>
      
	<div class='horizontal-align -between modal-information'>
	
    <input class="form-control -border" placeholder="Cancel reason" ng-model="$ctrl.cancelledItem.reason" type="text" name="last_name">
    
    </div>
    <div class='modal-footer'>
        <p class='date'>Created at {{$ctrl.prf.date | date}}</p>
        <button ng-click="$ctrl.submitCancel()" data-dismiss="modal">OK</button>
      </div>
      </form>
    </div>
    </div>
</div>