<div class="main-header">
	<div class="horizontal-align -between content">
		<h3 class="title">Sales Order Forms</h3>
	</div>
	<a href="#" ng-click="$ctrl.createNewSalesOrder($event);" class="btn btn-create btn-md button-link">Create New SO</a>
</div>
<div class='client-pris'>
  <div class="search-box horizontal-align -between">
      <div class="input-group-addon" style="border: 0	 !important;">
          <i class="fa fa-search"></i>
        </div>
        <input class="form-control -borderless search" placeholder="PRIS No" type="text" name="search" ng-model="$ctrl.searchNumber"
        />
        <input class="form-control -borderless search" placeholder="Date" type="text" name="search" ng-model="$ctrl.searchDate" />
  </div>
</div>
	<div class="search-box horizontal-align -between">
	 <select class="form-control select" ng-model="$ctrl.userAssignedDepot.id" ng-change="$ctrl.selectDepot()" ng-options="d.id as d.name for d in $ctrl.userAssignedDepots" name="fromDepots">
           					</select>	
  </div>
	<table ng-if="$ctrl.salesOrders" class='table table-list'>
		<thead>
			<tr>
				<th>
            <a href="#" ng-click="$ctrl.sortType = 'date';$ctrl.sortReverse = !$ctrl.sortReverse;">SO Date
                <span ng-show="$ctrl.sortType == 'date' && !$ctrl.sortReverse">
                    <i class="fa fa-caret-down"></i>
                </span>
                <span ng-show="$ctrl.sortType == 'date' && $ctrl.sortReverse">
                    <i class="fa fa-caret-up"></i>
                </span>
            </a>
        </th>
				<th>
            <a href="#" ng-click="$ctrl.sortType = 'number';$ctrl.sortReverse = !$ctrl.sortReverse;">SO No
                <span ng-show="$ctrl.sortType == 'number' && !$ctrl.sortReverse">
                    <i class="fa fa-caret-down"></i>
                </span>
                <span ng-show="$ctrl.sortType == 'number' && $ctrl.sortReverse">
                    <i class="fa fa-caret-up"></i>
                </span>
            </a>
        </th>
        		<th>
            <a href="#" ng-click="$ctrl.sortType = 'preparedBy';$ctrl.sortReverse = !$ctrl.sortReverse;">Prepared By
                <span ng-show="$ctrl.sortType == 'preparedBy' && !$ctrl.sortReverse">
                    <i class="fa fa-caret-down"></i>
                </span>
                <span ng-show="$ctrl.sortType == 'preparedBy' && $ctrl.sortReverse">
                    <i class="fa fa-caret-up"></i>
                </span>
            </a>
        </th>
        <th>
            <a href="#" ng-click="$ctrl.sortType = 'status';$ctrl.sortReverse = !$ctrl.sortReverse;">Status
                <span ng-show="$ctrl.sortType == 'status' && !$ctrl.sortReverse">
                    <i class="fa fa-caret-down"></i>
                </span>
                <span ng-show="$ctrl.sortType == 'status' && $ctrl.sortReverse">
                    <i class="fa fa-caret-up"></i>
                </span>
            </a>
        </th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="salesOrder in $ctrl.salesOrders | filter: {date: $ctrl.searchDate, number: $ctrl.searchNumber} | orderBy:$ctrl.sortType:$ctrl.sortReverse"  >
				<td>{{salesOrder.date | date}}</td>
				<td>{{salesOrder.number}}</td>
				<td>{{salesOrder.preparedBy.firstName}} {{salesOrder.preparedBy.lastName}}</td>
				<td>{{salesOrder.status}}</td>
				<td ng-if="salesOrder.status != 'Cancelled'" class='tablebutton-form'>
					<div class='holder'>
						<button class='btn btn-compose'>
							<i class='ion-ios-compose-outline' ng-click="$ctrl.openModal(salesOrder)"></i>
						</button>
					</div>
					
				</td>
				<td ng-if="salesOrder.status == 'Cancelled'" class='tablebutton-form'>
				<div class='holder'>
					<button class='btn btn-compose'>
							<i class='ion-ios-compose-outline' ng-click="$ctrl.openModal(salesOrder)"></i>
						</button>
				</div>
				</td>
			</tr>
		</tbody>
	</table>
<view-so-modal
so="$ctrl.so"
cancelreqs="$ctrl.cancelreqs"
></view-so-modal>