<form novalidate ng-submit="$ctrl.submitForm();" method="post">

<div class="horizontal-align -between" id="add-group">
	<input type="hidden" ng-model="$ctrl.client.id"/>
	<div class="form-group">
		<label for="code">Code</label> <input ng-model="$ctrl.client.code" class="form-control -border"
			autofocus="autofocus" placeholder="Code" type="text" name="code">
	</div>
	<div class="form-group">
		<label for="name">Name</label> <input ng-model="$ctrl.client.name" class="form-control -border"
			placeholder="Name" type="text" name="name">
	</div>
	<div class="form-group">
		<label for="tin">TIN</label> <input ng-model="$ctrl.client.tin" class="form-control -border"
			placeholder="TIN" type="text" name="tin">
	</div>
</div>
<div class="action-button horizontal-align -end">
        <input type="submit" name="commit" value="{{ $ctrl.button }}" class="btn btn-create btn-md" data-disable-with="Save">
    </div>
</form>