.mmd-content {
  margin-bottom: 20px;
  width: auto;
}

.mmd-card {
  & {
    text-align: center;
    background-color: $white-two;
    border: solid 2px $dark-grey;
    width: 22.5%;
    float: left;
    margin: 5px 17px 10px 0;
    padding: 10px 30px;
    height: 180px;
    display: table;
    transition: all 350ms ease;
  }

  &:hover {
    background: $dark-grey;
  }
}

.mmd-card > .icon {
  display: table-cell;
  vertical-align: middle;
  font-size: 40px;
  line-height: 20px;
}

.mmd-card > .icon > .caption {
  display: block;
  font-style: normal;
  font-weight: bold;
}
