.rmpm-content > .rmpm {
  width: 100%;
  margin-right: 0;
}

.rmpm-content > .date {
  margin-left: 0;
}

.rmpm-code > .rmpm {
  margin-right: 0;
}

.rmpm-code
 {
  width: 100%;
}

.rmpm-content > .code {
  margin-left: 10px;
}

.rmpm-code > .action {
  & {
    margin-top: 22px;
    width: 70%;
  }

  > .btn {
    width: 100%;
  }
}

.rmpm-code > .rmpm {
  width: 70%;
  margin-right: 0;
}

.transfer-label {
  font-size: 18px;
  margin-top: 15px;
}
