.rd-accordion {
  margin-bottom: 0;
}

.rd-panel {
  margin-bottom: 5px;
  border-radius: 0;
  cursor: pointer;
}

.rd-side {
  & {
    background-color: $white-two;
    border-bottom: 2px solid $dusk;
    line-height: 40px;
    padding: 0 5px;
  }
}

.rd-content > p {
  width: 25%;
  font-weight: 500;
  margin-bottom: 0;
}

.rd-header {
  background-color: $white-two;
  border-bottom: 0;
}

.rd-block {
  background-color: $white-two;
}

.block-content > p {
  width: 25%;
  margin-bottom: 0;
  line-height: 21px;
}

.rd-list {
  background-color: white;
  width: 49%;
  margin: 0 2px 5px 2px;
  border-radius: 2px;
  padding: 5px;
  display: inline-block;

  &.-orangish {
    border-left: 2px solid $orangish;
  }

  &.-apple {
    border-left: 2px solid $apple-green;
  }
}

.list-content > p {
  margin-bottom: 0;
  font-size: 13px;
}
