.search-box {
  margin: 20px 0;
}

.search-content {
  background-color: $white-two;
  width: 70%;
  border-radius: $border-radius-base;
}

.search-field {
  padding: 5px;
}

.search-field > .search {
  width: 70%;
}

.action-search {
  width: 30%;
}

.action-search > .btn {
  width: 100%;
}

.archive-content {
  padding-top: 10px;
  width: 30%;
}

.archive-content > .link > .icon:before {
  font-size: 30px;
}

.archive-content > .link > .caption {
  font-size: 15px;
  padding-top: 3px;
  margin-left: 4px;
}
