#selectType {
  text-align: center;
  height: 8em;
}

#selectType > h5 {
  font-size: 16px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.select-type {
  text-align: center;
  width: 100%;
}

.select-type > .btn {
  width: 45%;
  margin: 0 auto;
}

.select-type-footer > .btn {
  width: 20%;
}
