// Colors
$greyish-brown:         #4a4a4a;
$dark-grey:             #d5d5d5;
$white:                 #ffffff;
$white-two:             #f3f3f3;
$orangish:              #ff8040;
$squash:                #f6a623;
$apple-green:           #7ed321;
$dark-sky-blue:         #4990e2;
$dusk:                  #3e4966;
$dark:                  #2d364b;
$aqua-green:            #50e3c2;
$bloody-red:            #d0011b;

//Links defaul color
$link-color:            $dark-sky-blue;
//Links hover default color
$link-hover-color:      darken($link-color, 25%);

// typography
$font-family-brand:     'Martel', sans-serif;
$font-family-base:      'Mukta Mahee', sans-serif;

//Default font size
$font-size-base:         15px;

//Default border raduis
$border-radius-base:     2px;
