<h1>New Job Order Cost Sheet</h1>
<div class="form-content">
    <div class="step-form">
        <div class="horizontal-align -between">
            <div class="step-form">
                <div class="horizontal-align -start rmpm-content">
                    <div class="horizontal-align -start rmpm-code">
                        <div class="form-group rmpm action">
                            <a href="#" class="button-link btn btn-action btn-md" data-target="#findFgModal"
                             data-toggle="modal">Select Finished Good</a>
                        </div>
                        <div class="form-group rmpm">
                            <label class="label capitalize-text">FG Code</label>
                            <input  disabled type="text" ng-model="$ctrl.joCost.finishedGood.code" readonly class="form-control -border"
                            />
                            <label class="label capitalize-text">FG Name</label>
                            <input  disabled type="text" ng-model="$ctrl.joCost.finishedGood.name" readonly class="form-control -border"
                            />
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="request-action">
            <button type="button" class="btn btn-create btn-md" ng-click="$ctrl.selectFinishedGood()">Select Finished Good</button>
        </div>
    </div>
    <div class="form-content">

        <div ng-if="$ctrl.joCost.jobOrderCostSheetIngredients.length > 0" class="title horizontal-align -between">
            <h3 class="bg">Material Cost</h3>
        </div>
        <table ng-if="$ctrl.joCost.jobOrderCostSheetIngredients.length > 0" class="table table-list">
            <thead>
                <tr>
                    <td>Material</td>
                    <td>Quantity Needed</td>

                    <td>Unit</td>
                    <td>Cost Per Unit</td>
                    <td>Amount</td>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="jocsIng in $ctrl.joCost.jobOrderCostSheetIngredients">
                    <td>
                        {{jocsIng.ingredient.item.name}} {{jocsIng.ingredient.item.code}} ({{jocsIng.ingredient.item.type.code}})
                    </td>
                    <td>
                        {{jocsIng.ingredient.quantity}}
                    </td>

                    <td>
                        {{jocsIng.ingredient.item.unit.code}}
                    </td>

                    <td>
                        <input type="number" ng-model="jocsIng.costPerUnit" ng-blur="$ctrl.recomputeTotal()" class="form-control -border"
                        />
                    </td>

                    <td>
                        {{jocsIng.ingredient.quantity * jocsIng.costPerUnit}}
                    </td>
        
                </tr>
            </tbody>
        </table>

        <table ng-if="$ctrl.joCost.jobOrderCostSheetIngredients.length > 0" class="table table-list">
            <thead>
                <tr>
                    <td>Task</td>
                    <td>Hours</td>

                    <td>Rate/Hr</td>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="jocsPA in $ctrl.joCost.jobOrderCostSheetProcedureAreas">
                    <td>
                        {{jocsPA.procedureArea.name}} ({{jocsPA.procedureArea.code}})
                    </td>
                    <td>
       
                        <input type="number" ng-model="jocsPA.hours" ng-blur="$ctrl.recomputeTotal()" class="form-control -border"
                        />
                    </td>

                    <td>
                
                        <input type="number" ng-model="jocsPA.ratePerHour" ng-blur="$ctrl.recomputeTotal()" class="form-control -border"
                        />
                    </td>
        
                </tr>
            </tbody>
        </table>
       
        <div ng-if="$ctrl.joCost.jobOrderCostSheetIngredients.length > 0">
            <label>Total Cost: </label>
            {{$ctrl.joCost.grandTotal}}
        </div>


        <div ng-if="$ctrl.joCost.jobOrderCostSheetIngredients.length > 0" class="request-action">
            <button type="button" class="btn btn-create btn-md" ng-click="$ctrl.save()">Save</button>
        </div>
        <find-fg-modal
        fg="$ctrl.joCost.finishedGood"
    ></find-fg-modal>