<company-nav></company-nav>
<div class="total-accounts horizontal-align -end">
    <p class="count">{{ $ctrl.totalAccounts }} accounts</p>
    <div id="btn-create-account" class="button_to" ng-click="$ctrl.createNewUser($event);">
        <input class="btn btn-create btn-md" type="button" value="Create New Account" />
    </div>
</div>
<div class="user-list" ng-repeat="department in $ctrl.departments">
    <p class="group">{{department.name}}</p>
    <hr class="devider">
    <div class="user-accounts">
        <div class="account-card" ng-repeat="user in $ctrl.users" ng-if="user.department.id == department.id">
            <span class="name">
                <i class="icon ion-person"></i>
                {{ user.firstName }} {{ user.lastName }}
            </span>
            <span class="account-type horizontal-align -between">
                <label class="type">{{ department.name }} account</label>
                <span class="icon ion-ios-gear-outline" ng-click="$ctrl.goToEdit(user.id)"></span>
            </span>
        </div>
    </div>
    <div class="clear-float"></div>
</div>
