<div class="action-link">
  <a class="link" href="/admin/maintenance/client-information"
    >Client Informations</a
  >
  <span class="devider">/</span>
  <a class="link" href="/admin/maintenance/client-information/edit"
    >EDIT Client Information</a
  >
</div>
<div class="user-panel">
  <div class="content horizontal-align -between">
    <label class="caption">EDIT Client Information</label>
    <header>
      <a
        class="btn btn-back back"
        id="btn-back-action"
        href="/admin/maintenance/client-information"
      >
        <i class="ion-ios-arrow-thin-left"></i>
        <span>Cancel</span>
      </a>
    </header>
  </div>
  <hr class="devider" />
  <client-information-form
    client="$ctrl.client"
    message="{{ $ctrl.error }}"
    button="Edit user"
    on-submit="$ctrl.confirmEdit($event);"
  >
  </client-information-form>
</div>

<div class="modal fade" id="confirmAction">
  <div class="modal-dialog -bg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">
          Confirm Action
        </h4>
        <button class="close" data-dismiss="modal" type="button"></button>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to save changes done?</p>
        <button
          class="button-link btn btn-create btn-sm"
          ng-click="$ctrl.edit($ctrl.event);"
        >
          Confirm
        </button>
        <button
          class="button-link btn btn-create btn-sm"
          ng-click="$ctrl.cancel();"
        >
          Cancel
        </button>
      </div>
    </div>
  </div>
</div>
