<style>
	.dropdown-submenu {
		position: relative;
	}

	.dropdown-submenu .dropdown-menu {
		top: 0;
		left: 100%;
		margin-top: -1px;
	}
</style>

<script>
	$(document).ready(function () {
		$('.dropdown-submenu a.test').on("click", function (e) {
			$(this).next('ul').toggle();
			e.stopPropagation();
			e.preventDefault();
		});
	});
</script>

<table class="table table-list">
	<thead>
		<tr>
			<th>Account Title</th>
			<th>Department</th>
			<th>Group</th>
			<th>Area</th>
			<th>Debit</th>
			<th>Credit</th>
			<th ng-if="!$ctrl.readonly">Action</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-if="!$ctrl.readonly">
			<td>
				<div class="dropdown">
					<button type="button" ng-click="$ctrl.myFunction()" ng-if="$ctrl.accountTitle.id == null"
						class="dropbtn">Select</button>
					<button type="button" ng-click="$ctrl.myFunction()" ng-if="$ctrl.accountTitle.id != null"
						class="dropbtn">{{$ctrl.accountTitle.title}}</button>
					<div id="myDropdown" class="dropdown-content">
						<input type="text" ng-model="$ctrl.search" placeholder="Search.." id="myInput"
							ng-change="$ctrl.filterFunction()">
						<a ng-if="$ctrl.accountTitle.parent != null"
							ng-click="$ctrl.selectAccountTitle($ctrl.accountTitle.parent)">Parent:
							{{$ctrl.accountTitle.parent.title}}</a>
						<a ng-repeat="a in $ctrl.accountTitlesList"
							ng-click="$ctrl.selectAccountTitle(a)">{{a.title}}</a>
					</div>
				</div>
			</td>
			<td>
				<select class="form-control select -border" ng-model="$ctrl.department"
					ng-options="d as d.name for d in $ctrl.departments" name="departments"></select>
			</td>
			<td>
				<select class="form-control select -border" ng-model="$ctrl.group"
					ng-options="g as g.name for g in $ctrl.groups" name="groups"></select>
			</td>
			<td>
				<select class="form-control select -border" ng-model="$ctrl.area"
					ng-options="a as a.name for a in $ctrl.areas" name="areas"></select>
			</td>
			<td><input type="number" ng-if="$ctrl.accountTitle.type == 'Debit'" ng-model="$ctrl.amount" /></td>
			<td><input type="number" ng-if="$ctrl.accountTitle.type == 'Credit'" ng-model="$ctrl.amount" /></td>
			<td><button type="button" ng-click="$ctrl.addRow()" class="btn btn-success">Add</button></td>
		</tr>

		<tr ng-repeat="at in $ctrl.accounttitles">
			<td>{{at.accountTitle.title}}</td>
			<td>{{at.department.name}}</td>
			<td>{{at.group.name}}</td>
			<td>{{at.area.name}}</td>
			<td ng-if="at.accountTitle.type == 'Debit'">{{at.amount.toFixed(2)}}</td>
			<td ng-if="at.accountTitle.type == 'Debit'">-------</td>
			<td ng-if="at.accountTitle.type == 'Credit'">-------</td>
			<td ng-if="at.accountTitle.type == 'Credit'">{{at.amount.toFixed(2)}}</td>
			<td><button type="button" ng-click="$ctrl.deleteRow($index)" ng-if="!$ctrl.readonly"
					class="btn btn-danger">Remove</button></td>
		</tr>
	</tbody>
	<tfoot>
		<tr ng-if="!$ctrl.readonly">
			<th>Total</th>
			<th></th>
			<th></th>
			<th></th>
			<th>{{$ctrl.debitAmount.toFixed(2)}}</th>
			<th>{{$ctrl.creditAmount.toFixed(2)}}</th>
			<th></th>
		</tr>
	</tfoot>
</table>