<style>
	.highlightred{
		background-color:red;
	}
</style>
<form novalidate ng-submit="$ctrl.submitForm();" method="post">
	<div class="form-content">
		<div class="step-form">
			<div class="horizontal-align -between">
				<div class="side-one">
					<div class="horizontal-align -between content">
						<div class="form-group field">
							<label class="label capitalize-text">SI Number</label>
							<input type="text" class="form-control -border" ng-model="$ctrl.si.number"/>
						</div>
					</div>
				</div>
				<div class="side-two">
					<div class="form-group">
						<div class="horizontal-align -between content">
							<div class="form-group field">
								<label class="label capitalize-text">Date</label>
								<input type="date" class="form-control -border" ng-model="$ctrl.si.date"/>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="horizontal-align -start rmpm-content">
			<div class="form-group rmpm">
		<label class="label capitalize-text">Depot</label>
			 <select class="form-control select -border" ng-model="$ctrl.si.depot.id"  ng-options="d.id as d.code for d in $ctrl.depots" name="depot">
           						</select>
           	</div>
		</div>
		<div ng-if="$ctrl.si.depot">
		<div class="horizontal-align -start rmpm-content">
			  <div class="horizontal-align -start rmpm-code">
			    <div class="form-group rmpm action">
			    		<a href="#" class="button-link btn btn-action btn-md" ng-click="$ctrl.findSoModal()">Select SO</a>
			    </div>
			   <div class="form-group rmpm">
			    		<label class="label capitalize-text">SO No</label>
			    		<input type="text" ng-model="$ctrl.si.salesOrder.number" class="form-control -border"/>
			    </div>
			  </div>
			  <div class="side-two">
			    <div class="form-group">
			      	<label class="label capitalize-text">Tax</label>
			    		<input type="number" ng-model="$ctrl.si.taxPercentage" class="form-control -border"/>
			    </div>
			  </div>
		</div>
		<div class="horizontal-align -start rmpm-content">
			<div class="horizontal-align -start rmpm-code">
			 <div class="form-group rmpm">
			    		<label class="label capitalize-text">Client Code</label>
			    		<input type="text" ng-model="$ctrl.si.salesOrder.client.code" class="form-control -border"/>
			    </div>
			  </div>
			  <div class="side-two">
			    <div class="form-group">
			      	<label class="label capitalize-text">Name</label>
			    		<input type="text" ng-model="$ctrl.si.salesOrder.client.name" class="form-control -border"/>
			    </div>
			  </div>
		</div>
		<div class="step-form">
			<div class="horizontal-align -between">
				<div class="side-two">
					<div class="form-group">
						<div class="horizontal-align -between content">
							<div class="form-group field">
								<label class="label capitalize-text">Prepared By</label>
								<input type="hidden" ng-model="$ctrl.si.requestedBy"/>
								<input type="text" class="form-control -border" readonly value="{{$ctrl.si.preparedBy.firstName}} {{$ctrl.si.preparedBy.lastName}}" />
							</div>
						</div>
					</div>
				</div>
				<div class="side-two">
					<div class="form-group">
						<div class="horizontal-align -between content">
							<div class="form-group field">
								<label class="label capitalize-text">Released By</label>
								<input type="hidden" ng-model="$ctrl.si.releasedBy"/>
								<input type="text" class="form-control -border" readonly value="{{$ctrl.si.releasedBy.firstName}} {{$ctrl.si.releasedBy.lastName}}" />
							</div>
						</div>
					</div>
				</div>
				<div class="side-two">
					<div class="form-group">
						<div class="horizontal-align -between content">
							<div class="form-group field">
								<label class="label capitalize-text">Checked By</label>
								<input type="hidden" ng-model="$ctrl.si.requestedBy"/>
								<input type="text" class="form-control -border" readonly value="{{$ctrl.si.checkedBy.firstName}} {{$ctrl.si.checkedBy.lastName}}" />
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<table class='table table-list'>
        	<thead class='thead-dark'>
        		<tr>
        			<th></th>
        			<th>Lot #</th>
        			<th>Expiration</th>
        			<th>Stock On Hand</th>
        			<th>Quantity</th>
        			<th></th>
        		</tr>
        		<tr style="background-color:yellow;">
        			<th>FG</th>
        			<th>Quantity</th>
        			<th>Remaining</th>
        			<th>Unit Price</th>
        			<th>Amount</th>
        			<th></th>
        		</tr>
        	</thead>
        	<tbody ng-repeat="i in $ctrl.si.salesOrder.products">
        		
        		<tr style="background-color:yellow;">
        			<td>{{i.finishedGood.name}}</td>
        			<td>{{i.quantity}}</td>
        			<td>{{i.quantityRemaining}} </td>
        			<td>{{i.unitPrice}}</td>
        			<td>{{i.quantity * i.unitPrice}}</td>
        			<td>        				<button type="button" ng-click="$ctrl.showSoProductModal(i.finishedGood)" class="btn btn-create btn-md">Select</button>
        			</td>
        		</tr>
        		<tr ng-repeat="p in $ctrl.getProductsOfFg(i)" ng-init="$ctrl.stockOnHand = p.quantity" ng-class="{highlightred: i.quantityRemaining < $ctrl.getTotalQuantity(i)}">
        						<td></td>
        						<td>{{p.product.lotNumber}}</td>
        						<td>{{p.product.expiration | date}}</td>
        						<td>{{$ctrl.stockOnHand}}</td>
        						<td><input type="text" required ng-model="p.quantity"/></td>
        						<td></td>
        						
        					</tr>
        	</tbody>
        	<tfoot>
        	</tfoot>
        </table>
		<div class="step-form">
			<div class="horizontal-align -between">
				<div class="side-one">
					<div class="horizontal-align -between content">
						<div class="form-group field">
							<label class="label capitalize-text">Remarks</label>
							<textarea type="text" class="form-control -border" ng-model="$ctrl.si.remarks"></textarea>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="request-action">
			<button type="submit" class="btn btn-create btn-md">{{$ctrl.button}}</button>
		</div>
	</div>
	</div>
</form>

<find-so-modal
		so="$ctrl.si.salesOrder"
		salesorders="$ctrl.salesOrders"
		message="{{ $ctrl.error }}"
        button="Select SO"
>
    </find-so-modal>
    
<find-so-product-modal
		products="$ctrl.si.orderedProducts"
		inventorylist="$ctrl.inventorylist"
		message="{{ $ctrl.error }}"
        button="Select"
>
    </find-so-product-modal>

