<div class="modal-dialog -bg">
	<div class="modal-content">
		<div class="modal-header">
			<h4 class="modal-title">
				Find Memo Type <a
					class="button-link btn btn-create btn-sm float-lg-right" ng-click="$ctrl.showAddMemoType(true)"
					>+ Add Memo Type</a>
			</h4>
			<button class="close" data-dismiss="modal" type="button">
				<span ng-click="$ctrl.showAddMemoType(false)" class="ion-android-close close-modal"></span>
			</button>
		</div>
		<div class="modal-body">
			<div class="searchbox-modal">
					<form>

				<div class="searchbox-content">
					<div class=" search-modal horizontal-align -between">
						<div class="input-group-addon" style="border: 0	 !important;"><i class="fa fa-search"></i></div>
						<input class="form-control -borderless search" placeholder="code" type="text" name="search" ng-model="$ctrl.searchCode"/>
						<input class="form-control -borderless search" placeholder="name" type="text" name="search" ng-model="$ctrl.searchName"/>
					</div>
				</div>
				</form>
			</div>
			<memo-type-form ng-show="$ctrl.addMemoType" memotype="$ctrl.memotype"
				message="{{ $ctrl.error }}" button="Save"
				on-submit="$ctrl.saveMemoType($event);"></memo-type-form>
			<div class="wrapper scroll-section">
				<table class="table find-vendor">
					<thead>
						<tr>
							<th>
								<a href="#" ng-click="$ctrl.sortType = 'id';$ctrl.sortReverse = !$ctrl.sortReverse;">ID
									<span ng-show="$ctrl.sortType == 'id' && !$ctrl.sortReverse"><i class="fa fa-caret-down"></i></span>
									<span ng-show="$ctrl.sortType == 'id' && $ctrl.sortReverse"><i class="fa fa-caret-up"></i></span>
								</a>
							</th>
							<th>
								<a href="#" ng-click="$ctrl.sortType = 'code';$ctrl.sortReverse = !$ctrl.sortReverse;">Code
									<span ng-show="$ctrl.sortType == 'code' && !$ctrl.sortReverse">
										<i class="fa fa-caret-down"></i>
									</span>
									<span ng-show="$ctrl.sortType == 'code' && $ctrl.sortReverse">
										<i class="fa fa-caret-up"></i>
									</span>
								</a>
							</th>
							<th>
								<a href="#" ng-click="$ctrl.sortType = 'name';$ctrl.sortReverse = !$ctrl.sortReverse;">Name
									<span ng-show="$ctrl.sortType == 'name' && !$ctrl.sortReverse">
										<i class="fa fa-caret-down"></i>
									</span>
									<span ng-show="$ctrl.sortType == 'name' && $ctrl.sortReverse">
										<i class="fa fa-caret-up"></i>
									</span>
								</a>
							</th>
							<th>
								<a href="#" ng-click="$ctrl.sortType = 'name';$ctrl.sortReverse = !$ctrl.sortReverse;">Type
									<span ng-show="$ctrl.sortType == 'name' && !$ctrl.sortReverse">
										<i class="fa fa-caret-down"></i>
									</span>
									<span ng-show="$ctrl.sortType == 'name' && $ctrl.sortReverse">
										<i class="fa fa-caret-up"></i>
									</span>
								</a>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="memoType in $ctrl.memoTypes | filter: {code: $ctrl.searchCode, name: $ctrl.searchName} | orderBy:$ctrl.sortType:$ctrl.sortReverse">
							<td>{{memoType.id}}</td>
							<td>{{memoType.code}}</td>
							<td>{{memoType.name}}</td>
							<td>{{memoType.type}}</td>
							<td class="tablebutton-form">
								<div class="holder">
									<button ng-click="$ctrl.editMemoType(memoType.id)"
										class="btn btn-compose">
										<i class="ion-ios-compose-outline"></i>
									</button>
									<button ng-click="$ctrl.deleteMemoType(memoType.id)" class="btn btn-archive">
										<i class="ion-android-close"></i>
									</button>
								</div>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
</div>
