<form novalidate ng-submit="$ctrl.submitForm();" method="post">

<div class="horizontal-align -between" id="add-group">
	<input type="hidden" ng-model="$ctrl.procedure.id"/>
	<div class="form-group col-md-2">
		<label for="code">Code</label> <input ng-model="$ctrl.procedure.code" class="form-control -border"
			autofocus="autofocus" placeholder="Code" type="text" name="code">
	</div>
	<div class="form-group col-md-6">
		<label for="name">Description</label> <input ng-model="$ctrl.procedure.name" class="form-control -border"
			placeholder="Name" type="text" name="name">
	</div>
	<div class="form-group col">
		<label for="type">Procedure Area</label>
		<select class="form-control select -border" ng-model="$ctrl.procedure.procedureArea.id" ng-options="i.id as i.code for i in $ctrl.procedureAreas" name="procedureTypes">
            </select>
	</div>
</div>
<div class="action-button horizontal-align -end">
        <input type="submit" name="commit" value="{{ $ctrl.button }}" class="btn btn-create btn-md" data-disable-with="Save">
    </div>
</form>