<div class="main-header">
	<div class="horizontal-align -between content">
		<h3 class="title">Sales Journal Voucher</h3>
	</div>
</div>
<div class='client-pris'>
  <div class="search-box horizontal-align -between">
        <div class="form-group rmpm">
        <label>Type:</label>
        <select class="form-control select" ng-model="$ctrl.type"  name="fromDepots">
            <option value="OS">OS</option>
            <option value="DR_SI">DR_SI</option>
        </select>
        </div>
        <div class="form-group rmpm">
        <label>Depot:</label>
        <select class="form-control select" ng-model="$ctrl.userAssignedDepot.id" ng-options="d.id as d.name for d in $ctrl.userAssignedDepots" name="fromDepots">
        </select>
        </div>
        <div class="form-group rmpm">
        <label>From:</label>	
        <input class="form-control -borderless search" placeholder="Date From" type="date" date="dd-MM-yyyy" name="search" ng-model="$ctrl.dateFrom"
        />
        </div>
        <div class="form-group rmpm">
        <label>To:</label>
        <input class="form-control -borderless search" placeholder="Date To" type="date" date="dd-MM-yyyy" name="search" ng-model="$ctrl.dateTo" />
        </div>
</div>
  <div class="request-action">
    <button type="button" ng-click="$ctrl.search()" class="btn btn-create btn-md">Search</button>
    </div>
</div>
	<table id="sjvTable" ng-if="$ctrl.salesJournalVouchers" class='table table-list'>
		<thead>
			<tr>
				<th>
            <a href="#" ng-click="$ctrl.sortType = 'date';$ctrl.sortReverse = !$ctrl.sortReverse;">Date
                <span ng-show="$ctrl.sortType == 'date' && !$ctrl.sortReverse">
                    <i class="fa fa-caret-down"></i>
                </span>
                <span ng-show="$ctrl.sortType == 'date' && $ctrl.sortReverse">
                    <i class="fa fa-caret-up"></i>
                </span>
            </a>
        </th>
				<th>
            <a href="#" ng-click="$ctrl.sortType = 'client';$ctrl.sortReverse = !$ctrl.sortReverse;">Client
                <span ng-show="$ctrl.sortType == 'client' && !$ctrl.sortReverse">
                    <i class="fa fa-caret-down"></i>
                </span>
                <span ng-show="$ctrl.sortType == 'client' && $ctrl.sortReverse">
                    <i class="fa fa-caret-up"></i>
                </span>
            </a>
        </th>
        		<th>
            <a href="#" ng-click="$ctrl.sortType = 'si';$ctrl.sortReverse = !$ctrl.sortReverse;">SI
                <span ng-show="$ctrl.sortType == 'si' && !$ctrl.sortReverse">
                    <i class="fa fa-caret-down"></i>
                </span>
                <span ng-show="$ctrl.sortType == 'si' && $ctrl.sortReverse">
                    <i class="fa fa-caret-up"></i>
                </span>
            </a>
        </th>
        <th>
            <a href="#" ng-click="$ctrl.sortType = 'amount';$ctrl.sortReverse = !$ctrl.sortReverse;">Amount
                <span ng-show="$ctrl.sortType == 'amount' && !$ctrl.sortReverse">
                    <i class="fa fa-caret-down"></i>
                </span>
                <span ng-show="$ctrl.sortType == 'amount' && $ctrl.sortReverse">
                    <i class="fa fa-caret-up"></i>
                </span>
            </a>
        </th>
        <th>
            <a href="#" ng-click="$ctrl.sortType = 'tax';$ctrl.sortReverse = !$ctrl.sortReverse;">Tax
                <span ng-show="$ctrl.sortType == 'tax' && !$ctrl.sortReverse">
                    <i class="fa fa-caret-down"></i>
                </span>
                <span ng-show="$ctrl.sortType == 'tax' && $ctrl.sortReverse">
                    <i class="fa fa-caret-up"></i>
                </span>
            </a>
        </th>
        <th>
            <a href="#" ng-click="$ctrl.sortType = 'receivable';$ctrl.sortReverse = !$ctrl.sortReverse;">Accounts Receivable
                <span ng-show="$ctrl.sortType == 'receivable' && !$ctrl.sortReverse">
                    <i class="fa fa-caret-down"></i>
                </span>
                <span ng-show="$ctrl.sortType == 'receivable' && $ctrl.sortReverse">
                    <i class="fa fa-caret-up"></i>
                </span>
            </a>
        </th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="salesJournalVoucher in $ctrl.salesJournalVouchers | orderBy:$ctrl.sortType:$ctrl.sortReverse"  >
                <td>{{salesJournalVoucher.date | date}}</td>
                <td>{{salesJournalVoucher.number}}</td>
				<td>{{salesJournalVoucher.salesOrder.client.name}}</td>
				<td>{{salesJournalVoucher.totalAmount * (1 - (salesJournalVoucher.taxPercentage / 100))}}</td>
                <td>{{salesJournalVoucher.totalAmount * (salesJournalVoucher.taxPercentage / 100)}}</td>
                <td>{{salesJournalVoucher.totalAmount}}</td>
			</tr>
        </tbody>
        <tfoot>
            <th></th>
            <th></th>
            <th>Total:</th>
            <th>{{$ctrl.totalAmount.toFixed(2)}}</th>
            <th>{{$ctrl.totalTaxAmount.toFixed(2)}}</th>
            <th>{{$ctrl.totalAccountsReceivable.toFixed(2)}}</th>

        </tfoot>
    </table>
    
    <div class="request-action">
            <button type="button" ng-click="$ctrl.print()" class="btn btn-primary btn-md">Print</button>
            </div>
