
<div class='modal fade' id='findMISModal'>
  <div class="modal-dialog -bg">
	<div class="modal-content">
		<div class="modal-header">
			<h4 class="modal-title">
				MIS
			</h4>
			<button class="close" data-dismiss="modal" type="button">
			</button>
		</div>
		<div class="modal-body">
				<div class="search-box horizontal-align -between">
            <div class=" search-modal horizontal-align -between">
                    <div class="input-group-addon" style="border: 0	 !important;"><i class="fa fa-search"></i></div>
                    <input class="form-control -borderless search" placeholder="MIS #" type="text" name="search" ng-model="$ctrl.searchMIS"/>
                  
                </div>
    </div>
			<div class="wrapper scroll-section">
				<table class='table table-hover'>
              <thead>
                <tr>
										<th> <a href="#" ng-click="$ctrl.sortType = 'mis';$ctrl.sortReverse = !$ctrl.sortReverse;">MIS
												<span ng-show="$ctrl.sortType == 'mis' && !$ctrl.sortReverse">
														<i class="fa fa-caret-down"></i>
												</span>
												<span ng-show="$ctrl.sortType == 'mis' && $ctrl.sortReverse">
														<i class="fa fa-caret-up"></i>
												</span>
										</a></th>
                  <th>Date</th>
                  <th>Requested By</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="mis in $ctrl.misList | filter: {mis.misNo: $ctrl.searchMIS} | orderBy:$ctrl.sortType:$ctrl.sortReverse" data-dismiss="modal" ng-click="$ctrl.selectMIS(mis)">
                  <td>{{mis.misNo}}</td>
                  <td>{{mis.date | date}}</td>
                  <td>{{mis.requestedBy.firstName}} {{mis.requestedBy.lastName}}</td>
                </tr>
              </tbody>
            </table>
            <div class="request-action">
			<button type="button" data-dismiss="modal" class="btn btn-create btn-md">Select</button>
		</div>
			</div>
		</div>
	</div>
</div>
</div>

</div>
