<style>
	.highlight{
		background-color:#7ed321;
	}
</style>
<div class='modal fade' id='findItemModal'>
  <div class='modal-dialog -bg'>
    <div class='modal-content'>
      <div class='modal-header'>
        <h4 class='modal-title'>Find Item</h4>
        <button class='close'>
          <span data-dismiss="modal" class='ion-android-close close-modal'></span>
        </button>
      </div>
      <div class='modal-body'>
            <div class='wrapper scroll-section'>
              <table datatable="ng" ng-if="$ctrl.items" class='table table-list'>
                <thead>
                  <tr>
                  	<th>Type</th>
                    <th>Item Code</th>
                    <th>Item Description</th>
                    <th>Unit</th>
                    <th>Current Stocks</th>
                    <th>Pending PRF</th>
                    <th>Pending PO</th>
                    <th>Quarantined</th>
                  </tr>
                </thead>
                <tbody id='table-less-padding'>
                  <tr ng-repeat="item in $ctrl.itemsWithDetails" ng-click="$ctrl.getItem(item)" ng-class="{highlight: $ctrl.isItemPresent(item) !== -1}">
                    <td>{{item.item.type.code}}</td>
                    <td>{{item.item.code}}</td>
                    <td>{{item.item.name}}</td>
                    <td>{{item.item.unit.code}}</td>
                    <td>{{item.stockOnHand}}</td>
                    <td>{{item.pendingPrf}}</td>
                    <td>{{item.pendingPo}}</td>
                    <td>{{item.pendingRr}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
        <a class="btn btn-info">Selected Item List</a>
            <div class='wrapper scroll-section'>
            	<table class='table table-list'>
		        	<thead>
		        		<tr>
		        			<th>Type</th>
		        			<th>Item Code</th>
				        	<th>Name</th>
				        	<th>Unit</th>
				        	<th>Current Stocks</th>
				        	<th>Pending PRF</th>
		                    <th>Pending PO</th>
		                    <th>Quarantined</th>
		        		</tr>
		        	</thead>
		        	<tbody>
		        		<tr ng-repeat="item in $ctrl.itemlist">
                    		<td>{{item.item.type.code}}</td>
		        			<td>{{item.item.code}}</td>
		                    <td>{{item.item.name}}</td>
		                    <td>{{item.item.unit.code}}</td>
		                    <td>{{item.stockOnHand}}</td>
		                    <td>{{item.pendingPrf}}</td>
		                    <td>{{item.pendingPo}}</td>
		                    <td>{{item.pendingRr}}</td>
		        		</tr>
		        	</tbody>
		        </table>
        </div>
        
        <div class='modal-footer'>
        <button class='btn btn-cancel' data-dismiss="modal" ng-click="$ctrl.onButtonSelect()">Done</button>
      </div>
      </div>
    </div>
  </div>
</div>
