/** Buttons:
* `.btn` variations.
*
*   @example
*   button.btn.btn-create Create button
*   button.btn.btn-action Action button
*   button.btn.btn-delete Delete button
*   button.btn.btn-cancel Cancel button
*   btn.btn-back
*     i.icon.ion-ios-arrow-thin-left
*     span.text Back button
*/

/** Buttons sizes:
* `.btn` sizes.
*
*   @example
*   button.btn.btn-create.btn-lg Large button
*   button.btn.btn-action.btn-md Medium button
*   button.btn.btn-delete.btn-sm Small button
*/
button {
  cursor: pointer;
  &.btn {
    color: white;
  }

  &.btn:hover {
    color: $white-two;
    cursor: pointer;
  }

  > .icon, > .caption {
    color: white;
    font-weight: 500;
  }
}

input[type='submit'] {
  &.btn {
    color: white;
  }

  &.btn:hover {
    color: $white-two;
    cursor: pointer !important;
  }

  > .icon, > .caption {
    color: white;
    font-weight: 500;
  }
}

form {
  > .btn {
    color: white;
    width: 100%;
  }

  > .btn:hover {
    color: $white-two;
    cursor: pointer;
  }

  > .icon, > .caption {
    color: white;
    font-weight: 500;
  }
}

.btn-back {
  position: relative;
  background-color: $orangish;
  border-radius: $border-radius-base;
  padding: 8px 60px;

  > i {
    position: absolute;
    height: 28px;
    margin-top: -2px;
    color: white;
    font-size: 2rem;
    top: 50%;
    left: 15px;
    transform: translate(0, -50%);
  }

  > span {
    color: white;
    font-size: 16px;
    line-height: normal;
  }
}

.btn-back:hover {
  background-color: darken($orangish, 5%);
  transition: all 350ms ease;
}

.btn-create {
  & {
    font-family: $font-family-base;
    background-color: $apple-green;
    border-radius: $border-radius-base;
  }

  &:hover {
    background-color: darken($apple-green, 5%);
    transition: all 350ms ease;
  }
}

.btn-action {
  & {
    background-color: $dark-sky-blue;
    border-radius: $border-radius-base;
  }

  &.-has-icon {
    position: relative;
    padding: 6px 45px;
    > i {
      position: absolute;
      top: 50%;
      left: 15px;
      color: #FFF;
      font-size: 22px;
      height: 22px;
      transform: translate(0, -50%);
    }
    > span {
      color: #FFF;
    }
  }

  &:hover {
    background-color: darken($dark-sky-blue, 5%);
    transition: all 350ms ease;
  }
}

.btn-delete {
  & {
    background-color: $bloody-red;
    border-radius: $border-radius-base;
  }

  &:hover {
    background-color: darken($bloody-red, 5%);
    transition: all 350ms ease;
  }
}

.btn-cancel {
  & {
    background-color: $white-two;
    border-radius: $border-radius-base;
    color: $greyish-brown !important;
  }

  &:hover {
    background-color: darken($white-two, 5%);
    transition: all 350ms ease;
  }
}

.btn-bordered {
  background: #FFF;
  color: $dusk !important;
  border: 2px solid $white-two;

  &:hover {
    background-color: darken(#FFF, 5%);
    transition: all 350ms ease;
  }
}

.btn-warning {
  background-color: $squash;
  color: #FFF !important;
  transition: all ease 350ms;

  &:hover {
    background-color: darken($squash, 7.5%);
    border-color: transparent;
  }
}

.icon-button {
  position: relative;
  background-color: transparent;
  padding: 5px;
  width: 36px;
  height: 36px;

  > i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
    width: 28px;
    height: 28px;
    color: $dusk;
  }
}

.btn-archive {
  @extend .icon-button;
  &:hover {
    background-color: $bloody-red;
    color: #FFF;
    transition: all 350ms ease;
    > i {
      color: #FFF;
    }
  }
}

.btn-compose {
  @extend .icon-button;
  &:hover {
    background-color: $apple-green;
    color: #FFF;
    transition: all 350ms ease;
    > i {
      color: #FFF;
    }
  }
}

.btn-show {
  @extend .icon-button;
  &:hover {
    background-color: $dark-sky-blue;
    color: #FFF;
    transition: all 350ms ease;
    > i {
      color: #FFF;
    }
  }
}

.btn-see {
  @extend .icon-button;
  margin-right: 5px;
  &:hover {
    background-color: #fff;
  }
}
