/** Select:
* `.select` variations.
*
*   @example
*   .form-group
*     label.label Select tag with border
*     select.form-control.select.-border
*       option Toyota
*       option Honda
*       option Ford
*   .form-group
*     label.label Select tag without border
*     select.form-control.select.-borderless
*       option Toyota
*       option Honda
*       option Ford
*/

/** Text Fields:
* `input` variations.
*
*   @example
*   .form-group
*     label.label Text field tag with border
*     input.form-control.-border
*   .form-group
*     label.label Text field without border
*     input.form-control.-borderless
*/

/** Text Areas:
* `textarea` variations.
*
*   @example
*   .form-group
*     label.label Text area tag with border
*     textarea.form-control.-border
*   .form-group
*     label.label Text area without border
*     textarea.form-control.-borderless
*/
.form-group {
  & {
    margin: 0 5px 10px 5px;
  }

  > .label {
    line-height: 5px !important;
  }

  > .select {
    background: transparent url('../images/arrow_down.png') no-repeat right 10px center;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
  }
}
