/** Labels:
* `.custom-label` variations.
*
*   @example
*   label.custom-label.-squash Request
*   label.custom-label.-orangish Shortage
*   label.custom-label.-aqua Overage
*   label.custom-label.-apple Return
*   label.custom-label.-bloody Reject
*/

.custom-label {
  color: white;
  font-size: 14px;
  padding: 3px 12px;
  font-weight: 500;
  width: auto;
  text-align: center;
  border-radius: 1px;
  margin: 0 3px;

  &.-squash {
    background-color: $squash;
  }

  &.-orangish {
    background-color: $orangish;
  }

  &.-aqua {
    background-color: $aqua-green;
  }

  &.-apple {
    background-color: $apple-green;
  }

  &.-bloody {
    background-color: $bloody-red;
  }
}
