
#navtools {
  background-color: $white-two;
  height: 100%;
  width: 50px;
  position: fixed;
}

#navtools-ul {
  list-style: none;
  padding: 0px;
}

#navtools-ul > .list {
  padding: 0;
  border-bottom: 1px solid $dark-grey;
  transition: all 250ms ease;
}

#navtools-ul > .list > .link.-active {
  background-color: $orangish;
  color: white !important;
}

#navtools-ul > .list > .link {
  display: block;
  text-align: center;
  font-size: 25px;
  vertical-align: middle;
  padding: 10px 0 7px 0;
  color: $greyish-brown !important;
}

#navtools-ul > .list > .link:hover {
  transition: all 250ms ease;
  background-color: $orangish;
  color: white !important;
}
