/** Brand:
* `#logo` style.
*
*   @example
*   #logo
*     .title La Croesus Pharma, Inc.
*/


#logo {
  text-align: left;
  padding: 15px 10px;
  background-color: $dusk;

   > .title {
    font-family: $font-family-brand !important;
    color: white;
    font-weight: 800;
    font-size: 23px;
    margin: 5px;
    padding-top: 5px;
  }
}
