/** Table with labels:
* `.table` styles
*
*   @example
*   table.table
*     thead
*       tr
*         th PRIS No.
*         th Date
*         th Reference No.
*         th No. of Items Requested
*         th In/Out
*         th
*      tbody
*        tr
*          td 1001
*          td 08/10/17
*          td -
*          td 2 items
*          td
*            label.custom-label.-squash Request
*          td
*            i.ion-ios-compose-outline
*            i.ion-ios-box-outline
*        tr
*          td 1001
*          td 08/10/17
*          td -
*          td 2 items
*          td
*            label.custom-label.-orangish Shortage
*          td
*            i.ion-ios-compose-outline
*            i.ion-ios-box-outline
*        tr
*          td 1001
*          td 08/10/17
*          td -
*          td 2 items
*          td
*            label.custom-label.-aqua Overage
*          td
*            i.ion-ios-compose-outline
*            i.ion-ios-box-outline
*        tr
*          td 1001
*          td 08/10/17
*          td -
*          td 2 items
*          td
*            label.custom-label.-apple Return
*          td
*            i.ion-ios-compose-outline
*            i.ion-ios-box-outline
*        tr
*          td 1001
*          td 08/10/17
*          td -
*          td 2 items
*          td
*            label.custom-label.-bloody Reject
*          td
*            i.ion-ios-compose-outline
*            i.ion-ios-box-outline
*/

/** Table without labels:
* `.table` styles
*
*   @example
*   table.table
*     thead
*       tr
*         th PRIS No.
*         th Date
*         th Reference No.
*         th No. of Items Requested
*         th
*      tbody
*        tr
*          td 1001
*          td 08/10/17
*          td -
*          td 2 items
*          td
*            i.ion-ios-compose-outline
*            i.ion-ios-box-outline
*        tr
*          td 1001
*          td 08/10/17
*          td -
*          td 2 items
*          td
*            i.ion-ios-compose-outline
*            i.ion-ios-box-outline
*        tr
*          td 1001
*          td 08/10/17
*          td -
*          td 2 items
*          td
*            i.ion-ios-compose-outline
*            i.ion-ios-box-outline
*        tr
*          td 1001
*          td 08/10/17
*          td -
*          td 2 items
*          td
*            i.ion-ios-compose-outline
*            i.ion-ios-box-outline
*/

thead {
  background-color: $white-two;
  border: none;
  box-shadow: inset 0 -2px 0 $dusk;

  > tr > th {
    padding: 10px !important;
    font-size: 14px;
    font-weight: 500;
    color: $dark;
  }
}

tbody {
  > tr {
    & {
      background-color: $white-two;
      box-shadow: inset 0 4px 0 0 white;
      border-radius: 1px;
      transition: all 350ms ease;
    }

    &:hover {
      cursor: pointer;
      transition: all 350ms ease;
      background-color: darken($white-two, 10%);
    }

    &.selected {
      background-color: $apple-green;
    }
  }

  > tr > td {
    padding: 6px 10px 4px 10px;
    vertical-align: middle;
    font-size: 14px;
    font-weight: 500;
    color: $dark;
  }

  > tr > td > .custom-label {
    margin-bottom: 0;
    font-size: 14px;

    &.-broad {
      width: 100%;
    }

    &.-narrow {
      width: 70%;
    }
  }

  > tr > td > .btn {
    & {
      font-size: 14px;
      font-weight: 500;
    }

    &.-broad {
      width: 60%;
    }

    &.-narrow {
      width: 80%;
    }
  }

  > tr > td > i {
    font-size: 25px;
    font-weight: 800;
    margin-right: 5px;
    line-height: 1px;
    cursor: pointer;
  }

  > tr .selected {
    background-color: $apple-green;
  }
}

.form-table {
  margin-bottom: 30px;
}

.tableheader-form {
  > thead {
    border: none;
    box-shadow: inset 0 -1px 0 $dusk;
    > tr > th {
      border: none;
      &:first-child {
        border-top-left-radius: 2px;
      }
      &:last-child {
        border-top-right-radius: 2px;
      }
    }
  }
}

.tablebody-form {
  > tbody > tr:first-child {
    box-shadow: inset 0 3px 0 #fff;
    > td {
      padding: 14px 5px 12px 10px;
    }
  }

  > tbody > tr {
    box-shadow: inset 0 2px 0 #fff;
    > td {
      padding: 12px 5px 12px 10px;
      border: none;
      vertical-align: middle;
    }
  }
}

.tablebutton-form {
  padding: 6px 10px 4px 5px !important;
  > .holder {
    display: flex;
    justify-content: flex-end;
    > .btn:first-child {
      margin-right: 8px;
      font-size: 13px;
    }
  }
}

.table-accounting {
  @extend .tableheader-form;
  @extend .tablebody-form;
  > tbody > tr:last-child {
    > td {
      padding: 6px 0;
      text-align: center;
      border-bottom-right-radius: 4px;
      border-bottom-left-radius: 4px;
    }
  }
}

.table-details {
  @extend .tableheader-form;
  @extend .tablebody-form;
}

.table-status > td.-status {
  padding: 0;
}

.tablecheckbox-form > .checkbox {
  margin: 0;
  vertical-align: middle;
  > input[type='checkbox'] {
    display: none;
  }
  > .caption {
    display: block;
    height: 20px;
    width: 20px;
    padding: 0;
    &:after {
      border-color: $dark-sky-blue;
    }
  }
}

.table-list {
  @extend .tableheader-form;
  @extend .tablebody-form;

  > tbody > tr:last-child {
    > td:first-child {
      border-bottom-left-radius: 4px;
    }
    > td:last-child {
      border-bottom-right-radius: 4px;
    }
  }

  > tbody > tr > {
    @extend .table-status;
  }
}

.table-buttons {
  position: relative;
  padding: 6px 2px 2px 2px;
  vertical-align: middle;
  > button {
    transition: transform ease-in-out 0.35s;
    transform: translateX(100%);
  }
}

.table-buttonhvrd {
  > button {
    transform: translateX(0);
  }
}

.table-modal {
  @extend .tableheader-form;
  margin-bottom: 0;
  > tbody {
    > tr {
      > td.tblbuttons {
        overflow: hidden;
        @extend .table-buttons;
      }
      &:hover {
        > td.tblbuttons {
          @extend .table-buttonhvrd;
        }
      }
    }
  }
}
