.user-layout > .main {
  position: relative;
  height: 100%;
  margin: 0 200px 0 350px;
  padding: 20px 0 50px 15px;
}

.user-layout > .sidenav {
  height: 100%;
  width: 350px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: $dusk;
  overflow: hidden;
}

#content {
  border-left: 5px solid $orangish;
  height: 100%;
}

.ion-person:before {
  border: 1px solid $greyish-brown;
  border-radius: 100%;
  padding: 1px 3px;
}

#content > .account {
  font-family: $font-family-base;
  padding: 10px;
  height: 90px;
  background-color: white;
  text-align: left;
  font-size: 16px;
  color: $greyish-brown;
}

#content > .account > .type {
  font-weight: normal;
  color: $orangish;
  font-size: 14px;
}

#content > .navigation {
  display: flex;
  justify-content: space-between;
}
