<div class="main-header">
	<div class="horizontal-align -between content">
		<h3 class="title">Employees</h3>
	</div>
	<a href="#" ng-click="$ctrl.createNewEmployee($event);" class="btn btn-create btn-md button-link">Create New
		Request</a>
</div>
<div class='client-pris'>
	<div class="search-box horizontal-align -between">
		<div class="input-group-addon" style="border: 0	 !important;">
			<i class="fa fa-search"></i>
		</div>
		<input class="form-control -borderless search" placeholder="Emp No" type="text" name="search"
			ng-model="$ctrl.searchNumber" />
		<input class="form-control -borderless search" placeholder="Name" type="text" name="search"
			ng-model="$ctrl.searchName" />
	</div>
</div>
<table ng-if="$ctrl.employees" class='table table-list'>
	<thead>
		<tr>
			<th>Emp No</th>
			<th>Name</th>
			<th>Given Name</th>
			<th>Gender</th>
			<th>Monthly Salary</th>
			<th>Hourly Rate</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<tr
			ng-repeat="employee in $ctrl.employees | filter: {date: $ctrl.searchName, number: $ctrl.searchNumber} | orderBy:$ctrl.sortType:$ctrl.sortReverse">
			<td>{{employee.number}}</td>
			<td>{{employee.firstName}} {{employee.middleName}} {{employee.lastName}}</td>
			<td>{{employee.givenName}}</td>
			<td>{{employee.gender}}</td>
			<td>{{employee.monthlySalary}}</td>
			<td>{{employee.hourlyRate}}</td>
			<td class='tablebutton-form'>
				<div class='holder'>
					<button data-toggle="modal" ng-click="$ctrl.openModal(employee)" class='btn btn-show'>
						<i class='ion-ios-eye-outline'></i>
					</button>
					<button class='btn btn-archive' ng-click="$ctrl.deleteEmployee(employee.id)">
						<i class='ion-ios-box-outline'></i>
					</button>
				</div>
			</td>
		</tr>
	</tbody>
</table>
<view-employee-modal employee="$ctrl.employee"></view-employee-modal>