<div class='modal fade' id='findSoModal'>
  <div class="modal-dialog -bg">
	<div class="modal-content">
		<div class="modal-header">
			<h4 class="modal-title">
				Find Sales Order
			</h4>
			<button class="close" data-dismiss="modal" type="button">
			</button>
		</div>
		<div class="modal-body">
				<div class="search-box horizontal-align -between">
            <div class=" search-modal horizontal-align -between">
                    <div class="input-group-addon" style="border: 0	 !imsortant;"><i class="fa fa-search"></i></div>
                    <input class="form-control -borderless search" placeholder="PRF #" type="text" name="search" ng-model="$ctrl.searchNumber"/>
                  
                </div>
    </div>
			<div class="wrapper scroll-section">
				<table class='table table-hover'>
              <thead>
                <tr>
								<th> <a href="#" ng-click="$ctrl.sortType = 'number';$ctrl.sortReverse = !$ctrl.sortReverse;">PO #
										<span ng-show="$ctrl.sortType == 'number' && !$ctrl.sortReverse">
												<i class="fa fa-caret-down"></i>
										</span>
										<span ng-show="$ctrl.sortType == 'number' && $ctrl.sortReverse">
												<i class="fa fa-caret-up"></i>
										</span>
								</a></th>
                  <th>Date</th>
                  <th>Client</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="so in $ctrl.salesorders  | filter: {number: $ctrl.searchNumber} | orderBy:$ctrl.sortType:$ctrl.sortReverse" ng-click="$ctrl.getSalesOrder(so)" data-dismiss="modal">
                  <td>{{so.number}}</td>
                  <td>{{so.date | date}}</td>
                  <td>{{so.client.code}}-{{so.client.name}}</td>
                  <td><button class="btn btn-primary" type="button">View</button></td>
                </tr>
              </tbody>
            </table>
			</div>
		</div>
	</div>
</div>
</div>

</div>
