<div class="modal-dialog -bg">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title">Department &amp; Area Code</h4>
      <button class="close" data-dismiss="modal" type="button">
        <span
          ng-click="$ctrl.showAddDepartment(false);$ctrl.showAddArea(false)"
          class="ion-android-close close-modal"
        ></span>
      </button>
    </div>
    <div class="modal-body">
 
      <div class="horizontal-align -between">
        <div class="section department-area -left">
          <div class="horizontal-align -start header">
            <p class="caption">Departments</p>
            <div class="action-link bold-link">
              <a class="link" ng-click="$ctrl.showAddDepartment(true)">+ Add</a>
            </div>
          </div>
          <department-form
            ng-show="$ctrl.addDepartmentForm"
            department="$ctrl.department"
            message="{{ $ctrl.error }}"
            button="Save"
            on-submit="$ctrl.confirmSaveDepartment($event);"
          >
          </department-form>
          <a href="#" ng-click="$ctrl.sortDeptType = 'code';$ctrl.sortDeptReverse = !$ctrl.sortDeptReverse;">Code</a>
            <span ng-show="$ctrl.sortDeptType == 'code' && !$ctrl.sortDeptReverse">
            <i class="fa fa-caret-down"></i>
            </span>
            <span ng-show="$ctrl.sortDeptType == 'code' && $ctrl.sortDeptReverse">
            <i class="fa fa-caret-up"></i>
            </span>
          <div class="wrapper scroll-section">
            <p
              class="department-list horizontal-align -between"
              ng-repeat="department in $ctrl.departments  | orderBy:$ctrl.sortDeptType:$ctrl.sortDeptReverse"
            >
              <span class="code">{{department.code}}</span>
              <span class="dept">{{department.name}}</span>
              <span
                ng-click="$ctrl.confirmDeleteDepartment(department.id,department.code)"
                class="ion-android-close delete"
              ></span>
            </p>
          </div>
        </div>
        <div class="section department-area -left">
          <div class="horizontal-align -start header">
            <p class="caption">Area Code</p>
            <div class="action-link bold-link">
              <a class="link" ng-click="$ctrl.showAddArea(true)">+ Add</a>
            </div>
          </div>
          <area-form
            ng-show="$ctrl.addAreaForm"
            area="$ctrl.area"
            message="{{ $ctrl.error }}"
            button="Save"
            on-submit="$ctrl.confirmSaveArea($event);"
          >
          </area-form>
          <a href="#" ng-click="$ctrl.sortAreaType = 'code';$ctrl.sortAreaReverse = !$ctrl.sortAreaReverse;">Code</a>
          <span ng-show="$ctrl.sortAreaType == 'code' && !$ctrl.sortAreaReverse">
              <i class="fa fa-caret-down"></i>
          </span>
          <span ng-show="$ctrl.sortAreaType == 'code' && $ctrl.sortAreaReverse">
              <i class="fa fa-caret-up"></i>
          </span>
          <div class="wrapper scroll-section">
            <p
              class="department-list horizontal-align -between"
              ng-repeat="area in $ctrl.areas | orderBy:$ctrl.sortAreaType:$ctrl.sortAreaReverse"
            >
              <span ng-model="area.code" class="code">{{area.code}}</span>
              <span ng-model="area.name" class="dept">{{area.name}}</span>
              <span
                ng-click="$ctrl.confirmDeleteArea(area.id,area.code)"
                class="ion-android-close delete"
              ></span>
            </p>
          </div>
        </div>
        <div class="section department-area -left">
          <div class="horizontal-align -start header">
            <p class="caption">Group</p>
            <div class="action-link bold-link">
              <a class="link" ng-click="$ctrl.showAddGroup(true)">+ Add</a>
            </div>
          </div>
          <group-form
            ng-show="$ctrl.addGroupForm"
            group="$ctrl.group"
            message="{{ $ctrl.error }}"
            button="Save"
            on-submit="$ctrl.confirmSaveGroup($event);"
          >
          </group-form>
          <a href="#" ng-click="$ctrl.sortGroupType = 'code';$ctrl.sortGroupReverse = !$ctrl.sortGroupReverse;">Code</a>
          <span ng-show="$ctrl.sortGroupType == 'code' && !$ctrl.sortGroupReverse">
              <i class="fa fa-caret-down"></i>
          </span>
          <span ng-show="$ctrl.sortGroupType == 'code' && $ctrl.sortGroupReverse">
              <i class="fa fa-caret-up"></i>
          </span>
          <div class="wrapper scroll-section">
            <p
              class="department-list horizontal-align -between"
              ng-repeat="group in $ctrl.groups | orderBy:$ctrl.sortGroupType:$ctrl.sortGroupReverse""
            >
              <span ng-model="group.code" class="code">{{group.code}}</span>
              <span ng-model="group.name" class="dept">{{group.name}}</span>
              <!-- <span
                ng-click="$ctrl.confirmDeleteGroup(group.id)"
                class="ion-android-close delete"
              ></span> -->
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class='modal fade' id='confirmDeleteDepartment'>
    <div class="modal-dialog -bg">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">
                Confirm Action
            </h4>
            <button class="close" data-dismiss="modal" type="button">
            </button>
        </div>
        <div class="modal-body">
            <p>{{$ctrl.itemName}}?</p>
            <button class="button-link btn btn-create btn-sm" ng-click="$ctrl.deleteDepartment($ctrl.id);">Confirm</button>
            <button class="button-link btn btn-create btn-sm" ng-click="$ctrl.cancelDeleteDepartment();">Cancel</button>
        </div>
        </div>
    </div>
</div>

<div class="modal fade" id="confirmSaveDepartment">
    <div class="modal-dialog -bg">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">
            Confirm Action
          </h4>
          <button class="close" data-dismiss="modal" type="button"></button>
        </div>
        <div class="modal-body">
          <p>Are you sure you want to add this department?</p>
          <button
            class="button-link btn btn-create btn-sm"
            ng-click="$ctrl.saveDepartment($ctrl.event);"
          >
            Confirm
          </button>
          <button
            class="button-link btn btn-create btn-sm"
            ng-click="$ctrl.cancel();"
          >
            Cancel
          </button>
        </div>
      </div>
    </div>
  </div>

<div class='modal fade' id='confirmDeleteArea'>
    <div class="modal-dialog -bg">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">
                Confirm Action
            </h4>
            <button class="close" data-dismiss="modal" type="button">
            </button>
        </div>
        <div class="modal-body">
            <p>{{$ctrl.itemName}}?</p>
            <button class="button-link btn btn-create btn-sm" ng-click="$ctrl.deleteArea($ctrl.id);">Confirm</button>
            <button class="button-link btn btn-create btn-sm" ng-click="$ctrl.cancelDeleteArea();">Cancel</button>
        </div>
        </div>
    </div>
</div>


<div class="modal fade" id="confirmSaveArea">
    <div class="modal-dialog -bg">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">
            Confirm Action
          </h4>
          <button class="close" data-dismiss="modal" type="button"></button>
        </div>
        <div class="modal-body">
          <p>Are you sure you want to add this area?</p>
          <button
            class="button-link btn btn-create btn-sm"
            ng-click="$ctrl.saveArea($ctrl.event);"
          >
            Confirm
          </button>
          <button
            class="button-link btn btn-create btn-sm"
            ng-click="$ctrl.cancel();"
          >
            Cancel
          </button>
        </div>
      </div>
    </div>
  </div>

<div class='modal fade' id='confirmDeleteGroup'>
    <div class="modal-dialog -bg">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">
                Confirm Action
            </h4>
            <button class="close" data-dismiss="modal" type="button">
            </button>
        </div>
        <div class="modal-body">
            <p>{{$ctrl.itemName}}?</p>
            <button class="button-link btn btn-create btn-sm" ng-click="$ctrl.deleteGroup($ctrl.id);">Confirm</button>
            <button class="button-link btn btn-create btn-sm" ng-click="$ctrl.cancelDeleteGroup();">Cancel</button>
        </div>
        </div>
    </div>
</div>




<div class="modal fade" id="confirmSaveGroup">
    <div class="modal-dialog -bg">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">
            Confirm Action
          </h4>
          <button class="close" data-dismiss="modal" type="button"></button>
        </div>
        <div class="modal-body">
          <p>Are you sure you want to add this group?</p>
          <button
            class="button-link btn btn-create btn-sm"
            ng-click="$ctrl.saveGroup($ctrl.event);"
          >
            Confirm
          </button>
          <button
            class="button-link btn btn-create btn-sm"
            ng-click="$ctrl.cancel();"
          >
            Cancel
          </button>
        </div>
      </div>
    </div>
  </div>

<div class='modal fade' id='actionDialog'>
    <div class="modal-dialog -bg">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">
                {{$ctrl.actionTitle}}
            </h4>
            <button class="close" data-dismiss="modal" type="button">
            </button>
        </div>
        <div class="modal-body">
            <p>{{$ctrl.actionMessage}}</p>
            <button class="button-link btn btn-create btn-sm" ng-click="$ctrl.confirm();">Ok</button>
        </div>
        </div>
    </div>
</div>
</div>
