
<div class="main-header">
	<div class="horizontal-align -between content">
		<h3 class="title">Cheque Printings</h3>
    </div>
    
    <!-- <a href="/admin/accounting/cheque-printing-tolling/new" ng-click="" class="btn btn-create btn-md button-link" style="background-color:blueviolet;">Create AR Tolling</a> -->
	<a href="/admin/accounting/cheque-printing/new" ng-click="" class="btn btn-create btn-md button-link">Create Cheque Printing</a>
</div>
<div class='client-pris'>
  <div class="search-box horizontal-align -between">
      <div class="input-group-addon" style="border: 0	 !important;">
          <i class="fa fa-search"></i>
        </div>
        <input class="form-control -borderless search" placeholder="Cheque No" type="text" name="search" ng-model="$ctrl.searchNumber"
        />
  </div>
</div>
	<table class='table table-list'>
		<thead>
			<tr>
				<th>
            <a href="#" ng-click="$ctrl.sortType = 'number';$ctrl.sortReverse = !$ctrl.sortReverse;">No
                <span ng-show="$ctrl.sortType == 'number' && !$ctrl.sortReverse">
                    <i class="fa fa-caret-down"></i>
                </span>
                <span ng-show="$ctrl.sortType == 'number' && $ctrl.sortReverse">
                    <i class="fa fa-caret-up"></i>
                </span>
            </a>
        </th>
				<th>
            <a href="#" ng-click="$ctrl.sortType = 'payeeCode';$ctrl.sortReverse = !$ctrl.sortReverse;">Payee Code
                <span ng-show="$ctrl.sortType == 'payeeCode' && !$ctrl.sortReverse">
                    <i class="fa fa-caret-down"></i>
                </span>
                <span ng-show="$ctrl.sortType == 'payeeCode' && $ctrl.sortReverse">
                    <i class="fa fa-caret-up"></i>
                </span>
            </a>
        </th>
          	<th>
            <a href="#" ng-click="$ctrl.sortType = 'payeeName';$ctrl.sortReverse = !$ctrl.sortReverse;">Payee Name
                <span ng-show="$ctrl.sortType == 'payeeName' && !$ctrl.sortReverse">
                    <i class="fa fa-caret-down"></i>
                </span>
                <span ng-show="$ctrl.sortType == 'payeeName' && $ctrl.sortReverse">
                    <i class="fa fa-caret-up"></i>
                </span>
            </a>

          </th>
          <th> <a href="#" ng-click="$ctrl.sortType = 'chequeNumber';$ctrl.sortReverse = !$ctrl.sortReverse;">Cheque No
                <span ng-show="$ctrl.sortType == 'chequeNumber' && !$ctrl.sortReverse">
                    <i class="fa fa-caret-down"></i>
                </span>
                <span ng-show="$ctrl.sortType == 'chequeNumber' && $ctrl.sortReverse">
                    <i class="fa fa-caret-up"></i>
                </span>
            </a>
          </th>
          <th> <a href="#" ng-click="$ctrl.sortType = 'chequeDate';$ctrl.sortReverse = !$ctrl.sortReverse;">Cheque Date
                <span ng-show="$ctrl.sortType == 'chequeDate' && !$ctrl.sortReverse">
                    <i class="fa fa-caret-down"></i>
                </span>
                <span ng-show="$ctrl.sortType == 'chequeDate' && $ctrl.sortReverse">
                    <i class="fa fa-caret-up"></i>
                </span>
            </a>
          </th>
          <th> <a href="#" ng-click="$ctrl.sortType = 'totalAmount';$ctrl.sortReverse = !$ctrl.sortReverse;">Amount
                <span ng-show="$ctrl.sortType == 'totalAmount' && !$ctrl.sortReverse">
                    <i class="fa fa-caret-down"></i>
                </span>
                <span ng-show="$ctrl.sortType == 'totalAmount' && $ctrl.sortReverse">
                    <i class="fa fa-caret-up"></i>
                </span>
            </a>
          </th>
                <th>Status</th>
                <th></th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="cp in $ctrl.chequePrintings " >
				<td>{{cp.number}}</td>
				<td>{{cp.vendor.code}}</td>
				<td>{{cp.vendor.name}}</td>
				<td>{{cp.chequeNumber}}</td>
				<td>{{cp.chequeDate | date}}</td>
				<td>{{cp.totalAmount}}</td>
				<td>{{cp.status}}</td>
				<td class='tablebutton-form'>
					<div class='holder'>
                        <button class='btn btn-compose' data-toggle="modal" ng-click="$ctrl.openModal(cp)" data-target="#cpModal" class='btn btn-show'>
                            <i class="ion-ios-eye-outline" ></i>
                        </button>
						<button class='btn btn-compose' ng-if="cp.status == 'Pending'">
							<i class='ion-ios-compose-outline' ng-click="$ctrl.goToEdit(cp.id)"></i>
						</button>
					</div>
				</td>
			</tr>
		</tbody>
	</table>	
</div>


<div class='modal fade' id='cpModal'>
    <div class='modal-dialog -bg'>
        <div class='modal-content'>
            <div class='modal-header'>
                <h4 class='modal-title'>Cheque Printing</h4>
                <button data-dismiss="modal" class='close'>
                    <span class='ion-android-close close-modal'></span>
                </button>
            </div>
            <div class='modal-body'>
                    <div class="form-content">
                            <div class="step-form">
                                <div class="horizontal-align -between">
                                    <div class="side-one">
                                        <div class="horizontal-align -between content">
                                            <div class="form-group field">
                                                <label class="label capitalize-text">CP Number</label>
                                                <input type="text" ng-if="$ctrl.cp.number" readonly class="form-control -border" ng-value="$ctrl.cp.number"/>
                                                <input type="text" ng-if="$ctrl.cp.number == null" readonly class="form-control -border" value="AUTOGENERATED UPON CREATION"/>
                                                
                                            </div>
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                        
                
                        <div class="horizontal-align -start rmpm-content">
                              <div class="horizontal-align -start rmpm-code">
                                <div class="form-group rmpm">
                                        <label class="label capitalize-text">Payee Code</label>
                                        <input type="text" ng-model="$ctrl.cp.vendor.code" readonly class="form-control -border"/>
                                </div>
                              </div>
                              <div class="side-two">
                                <div class="form-group">
                                      <label class="label capitalize-text">Payee</label>
                                        <input type="text" ng-model="$ctrl.cp.vendor.name" readonly class="form-control -border"/>
                                </div>
                              </div>
                            </div>
                            <div ng-if="$ctrl.cp.vendor">
                                <table class='table table-list'>
                                    <thead>
                                        <tr>
                                            <th>VP #</th>
                                            <th>Date</th>
                                            <th>Payee</th>
                                            <th>Remarks</th>
                                            <th>Amount</th>
                                            <th>View</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="v in $ctrl.cp.payables">
                                            <td>{{v.number}}</td>
                                            <td>{{v.date | date}}</td>
                                            <td>{{v.vendor.name}}</td>
                                            <td>{{v.remarks}}</td>
                                            <td>{{v.totalAmount.toFixed(2)}}</td>
                                            <td>
                                                 <a href="#" class="button-link btn btn-primary btn-md" ng-click="$ctrl.viewVp(v)" data-target="#vpModal" data-toggle="modal">View</a>
                                            </td>
                                        </tr>
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th>Total Amount:</th>
                                            <th>{{$ctrl.totalAmount.toFixed(2)}}</th>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                            
                            <div class="form-content">
                            <div class="step-form">
                                <div class="horizontal-align -between">
                                    <div class="side-one">
                                        <div class="horizontal-align -between content">
                                            <div class="form-group field">
                                                <label class="label capitalize-text">Cheque No</label>
                                                <input type="text" ng-model="$ctrl.cp.chequeNumber" readonly class="form-control -border"/>
                                                
                                            </div>
                                        </div>
                                    </div>
                                    <div class="side-two">
                                        <div class="horizontal-align -between content">
                                            <div class="form-group field">
                                                <label class="label capitalize-text">Cheque Date</label>
                                                <input type="date" ng-model="$ctrl.cp.chequeDate" readonly class="form-control -border" />
                                                
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-content">
                            <div class="step-form">
                                <div class="horizontal-align -between">
                                    <div class="side-one">
                                        <div class="horizontal-align -between content">
                                            <div class="form-group field">
                                                <label class="label capitalize-text">Payee Name</label>
                                                <input type="text" ng-model="$ctrl.cp.payeeName" readonly class="form-control -border" />
                                                
                                            </div>
                                        </div>
                                    </div>
                                    <div class="side-two">
                                        <div class="horizontal-align -between content">
                                            <div class="form-group field">
                                                <label class="label capitalize-text">Bank Account</label>
                                                    <select class="form-control select -border" readonly ng-model="$ctrl.cp.bankAccount" ng-options="b as b.name for b in $ctrl.bankAccounts" name="bankAccounts">
                                                    </select>															
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                            <div class="step-form">
                            <div class="horizontal-align -between">
                                <div class="side-one">
                                    <div class="horizontal-align -between content">
                                        <div class="form-group field">
                                            <label class="label capitalize-text">Remarks</label>
                                            <textarea type="text" class="form-control -border" ng-model="$ctrl.cp.remarks"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
            </div>
            <div class='modal-footer'>
                    <p class='date'>Created at {{$ctrl.cp.date | date}}</p>
                    <a ng-click="$ctrl.approve($ctrl.cp.id)" data-dismiss="modal" class="btn btn-info">Approve</a>
                    <a target="_blank" href="/admin/shared/print-purchase-voucher/{{$ctrl.pv.id}}" class="btn btn-info">Print Cheque</a>
                </div>
            </div>
        </div>
    </div>


    <view-vp-modal
	vp="$ctrl.vp"
></view-vp-modal>
	  