<h1>New MO Costing</h1>
<div class="form-content">
    <div class="step-form">
        <div class="horizontal-align -between">
            <div class="side-one">
                <div class="horizontal-align -between content">
                    <div class="form-group field">
                        <label class="label capitalize-text">Select MO</label>
                        <select class="form-control select -borderless" ng-model="$ctrl.costing.moInventory" ng-change="$ctrl.listJobOrdersByMoInventory()"
                            ng-options="d.finishedGood.code for d in $ctrl.moList" name="finishedGood">
                        </select>

                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="form-content">
        <!-- <div ng-if="$ctrl.costing.moInventory.inventoryList" class="step-form" style="border: solid 1px #eee; padding: 10px;">
            <div class="horizontal-align -between">
                <div class="side-one">
                    <div class="horizontal-align -between content">
                        <div class="form-group field">
                            <label class="label capitalize-text">Select Employee</label>
                            <select class="form-control select -borderless" ng-model="$ctrl.employeeSelection" ng-options="e.firstName + ' ' + e.lastName + ':' + e.hourlyRate + '/hr' for e in $ctrl.employees"
                                name="employeeSelection">
                            </select>

                        </div>
                    </div>
                </div>
                <div class="side-two">
                    <div class="form-group">
                        <div class="horizontal-align -between content">
                            <div class="form-group field">
                                <label class="label capitalize-text">Employee Hours</label>
                                <input type="number" class="form-control -border" ng-model="$ctrl.hoursSpent" />
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
            <div class="side-two">
                    <div class="form-group">
                            <input class="btn btn-create btn-md" type="button" value="Add Employee" ng-click="$ctrl.addEmployee()">
                    </div>
                </div>

        </div> -->
        <!-- <pre>{{ $ctrl.costing.moInventory | json}}</pre> -->
        <div ng-if="$ctrl.costing.moInventory.inventoryList.length > 0" class="title horizontal-align -between">
            <h3 class="bg">MO Inventory</h3>

        </div>
        <div ng-if="$ctrl.costing.moInventory.inventoryList.length > 0" class="title horizontal-align -between">

            <div class="horizontal-align -between">
                <div class="horizontal-align -between content">
                    <div>
                        <p class="title">Mo Number: </p>
                        <span class="content">{{$ctrl.costing.moInventory.moNumber}}</span>
                    </div>
                    <div>
                        <p class="title">FG Code</p>
                        <span class="content">{{$ctrl.costing.moInventory.finishedGood.code}}</span>
                    </div>

                    <div>
                        <p class="title">Batch Size</p>
                        <span class="content">{{$ctrl.costing.moInventory.batchSize}}</span>
                    </div>
                </div>

                <div class="horizontal-align -between content">
                    <div>
                        <p class="title">Lot Number: </p>
                        <span class="content">{{$ctrl.costing.moInventory.lotNumber}}</span>
                    </div>
                    <div>
                        <p class="title">MO Date</p>
                        <span class="content">{{$ctrl.costing.moInventory.dateCreated | date}}</span>
                    </div>


                </div>
            </div>

        </div>
        <table ng-if="$ctrl.costing.moInventory.inventoryList.length > 0" class="table table-list">
            <thead>
                <tr>
                    <td>Item</td>
                    <td>Type</td>

                    <td>Control Number</td>
                    <td>Inventory Quantity</td>
                    <td>Unit Price</td>
                    <td>Cost</td>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="inv in $ctrl.costing.moInventory.inventoryList">
                    <td>
                        {{inv.item.name}} {{inv.item.code}}
                    </td>
                    <td>
                        {{inv.item.type.code}}
                    </td>

                    <td>
                        {{inv.controlNumber}}
                    </td>

                    <td>
                        {{inv.number = $ctrl.findIngredientQuantity(inv.item.code) * $ctrl.costing.moInventory.batchSize}}
                    </td>

                    <td>
                        0
                        <!-- {{inv.item.unitPrice}} -->
                    </td>
                    <td>
                        0
                        <!-- {{inv.cost}} -->
                    </td>
                </tr>
            </tbody>
        </table>
        <div ng-if="$ctrl.costing.jobOrders.length > 0" class="title horizontal-align -between">
            <h3 class="bg">Job Orders</h3>

        </div>
        <table ng-if="$ctrl.costing.jobOrders.length > 0" class="table table-list">
            <thead>
                <tr>
                    <td>Date</td>
                    <td>Fullname</td>
                    <td>Time in</td>
                        <td>Time out</td>
                    <td>Hourly Rate</td>
                    <td>Hours Spent</td>
                    <td>Cost</td>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="jobOrder in $ctrl.costing.jobOrders">
                    <td>{{jobOrder.date | date}}</td>
                    <td>
                        {{jobOrder.employee.firstName}} {{jobOrder.employee.lastName}}
                    </td>
                    <td>
                            {{jobOrder.timeIn | date:'h:mma'}}
                        </td>
                        <td>
                            {{jobOrder.timeOut | date:'h:mma'}}
                        </td>
                    <td>
                        {{jobOrder.employee.hourlyRate}}
                    </td>
                    <td>
                        {{jobOrder.numberOfHours}}
                    </td>
                    <td>
                        {{jobOrder.employee.hourlyRate * jobOrder.numberOfHours}}
                    </td>
                </tr>
            </tbody>
        </table>

        <div ng-if="$ctrl.costing.moInventory.inventoryList.length > 0">
            <label>Total Cost: </label>
            {{$ctrl.costing.totalCost}}
        </div>


        <div class="request-action">
            <button type="button" class="btn btn-create btn-md" ng-click="$ctrl.save()">Save</button>
        </div>
        <!-- <h1>MO Costing</h1>
        <div ng-repeat="costing in $ctrl.costings">
            <pre>{{costing | json}}</pre>
        </div> -->