<form novalidate ng-submit="$ctrl.submitForm();" method="post">

<div class="horizontal-align -between" id="add-group">
	<input type="hidden" ng-model="$ctrl.accounttitle.id"/>
	<div class="form-group">
		<label for="code">Title</label> <input ng-model="$ctrl.accounttitle.title" class="form-control -border"
			autofocus="autofocus" placeholder="Code" type="text" name="code">
	</div>
	<div class="form-group">
		<label for="name">Type</label> 
		<select ng-model="$ctrl.accounttitle.type" class="form-control -border">
		<option value="Credit">Credit</option>
		<option value="Debit">Debit</option>
		</select>
	</div>
	<div class="form-group">
		<label for="tin">Parent</label> <input ng-value="$ctrl.accounttitle.parent.title" readonly class="form-control -border"
			type="text">
	</div>
	<div class="form-group">
		<label for="tin">Level</label> <input ng-model="$ctrl.accounttitle.level" readonly class="form-control -border"
			type="text">
	</div>
</div>
<div class="action-button horizontal-align -end">
        <input type="submit" name="commit" value="{{ $ctrl.button }}" class="btn btn-create btn-md" data-disable-with="Save">
    </div>
</form>