
<div class="main-header">
	<div class="horizontal-align -between content">
		<h3 class="title">Vouchers Payables</h3>
    </div>
    
    <!-- <a href="/admin/accounting/vouchers-payable-tolling/new" ng-click="" class="btn btn-create btn-md button-link" style="background-color:blueviolet;">Create AR Tolling</a> -->
	<a ng-click="$ctrl.exportReport()" class="btn btn-warning btn-md button-link">Export</a>
	
	<a href="/admin/shared/print-vp-report/start/{{$ctrl.startDate}}/end/{{$ctrl.endDate}}" class="btn btn-primary btn-md button-link">Generate Report</a>
	<a href="/admin/accounting/vouchers-payable/new" ng-click="" class="btn btn-create btn-md button-link">Create VP</a>
</div>
<div class='client-pris'>
  <div class="search-box horizontal-align -between">
      <div class="input-group-addon" style="border: 0	 !important;">
          <i class="fa fa-search"></i>
        </div>
        <input class="form-control -borderless search" placeholder="VP No" type="text" name="search" ng-model="$ctrl.searchNumber"
        />
        <input class="form-control -borderless search" placeholder="RR No" type="text" name="search" ng-model="$ctrl.searchRRNumber" />
  </div>
    <div class="search-box horizontal-align -between">
   		<input class="form-control -borderless search" type="date" name="search" ng-model="$ctrl.startDate"
        />
        <input class="form-control -borderless search" type="date" name="search" ng-model="$ctrl.endDate" />
	</div>
			
	
	
</div>
	<table class='table table-list'>
		<thead>
			<tr>
				<th>
            <a href="#" ng-click="$ctrl.sortType = 'number';$ctrl.sortReverse = !$ctrl.sortReverse;">VP No
                <span ng-show="$ctrl.sortType == 'number' && !$ctrl.sortReverse">
                    <i class="fa fa-caret-down"></i>
                </span>
                <span ng-show="$ctrl.sortType == 'number' && $ctrl.sortReverse">
                    <i class="fa fa-caret-up"></i>
                </span>
            </a>
        </th>
				<th>
            <a href="#" ng-click="$ctrl.sortType = 'rrNumber';$ctrl.sortReverse = !$ctrl.sortReverse;">Date
                <span ng-show="$ctrl.sortType == 'rrNumber' && !$ctrl.sortReverse">
                    <i class="fa fa-caret-down"></i>
                </span>
                <span ng-show="$ctrl.sortType == 'rrNumber' && $ctrl.sortReverse">
                    <i class="fa fa-caret-up"></i>
                </span>
            </a>
        </th>
				<th>
            <a href="#" ng-click="$ctrl.sortType = 'materialType';$ctrl.sortReverse = !$ctrl.sortReverse;">Vendor
                <span ng-show="$ctrl.sortType == 'materialType' && !$ctrl.sortReverse">
                    <i class="fa fa-caret-down"></i>
                </span>
                <span ng-show="$ctrl.sortType == 'materialType' && $ctrl.sortReverse">
                    <i class="fa fa-caret-up"></i>
                </span>
            </a>
        </th>
          	<th>
            <a href="#" ng-click="$ctrl.sortType = 'drsi';$ctrl.sortReverse = !$ctrl.sortReverse;">Amount
                <span ng-show="$ctrl.sortType == 'drsi' && !$ctrl.sortReverse">
                    <i class="fa fa-caret-down"></i>
                </span>
                <span ng-show="$ctrl.sortType == 'drsi' && $ctrl.sortReverse">
                    <i class="fa fa-caret-up"></i>
                </span>
            </a>

          </th>
          <th> <a href="#" ng-click="$ctrl.sortType = 'drsi';$ctrl.sortReverse = !$ctrl.sortReverse;">Status
                <span ng-show="$ctrl.sortType == 'drsi' && !$ctrl.sortReverse">
                    <i class="fa fa-caret-down"></i>
                </span>
                <span ng-show="$ctrl.sortType == 'drsi' && $ctrl.sortReverse">
                    <i class="fa fa-caret-up"></i>
                </span>
            </a>
          </th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="vp in $ctrl.vouchersPayables " >
				<td>{{vp.number}}</td>
				<td>{{vp.date | date}}</td>
				<td>{{vp.vendor.name}}</td>
				<td>{{vp.totalAmount}}</td>
				<td>{{vp.status}}</td>
				<td class='tablebutton-form'>
					<div class='holder'>
                        <button class='btn btn-compose' data-toggle="modal" ng-click="$ctrl.openModal(vp)" data-target="#vpModal" class='btn btn-show'>
                            <i class="ion-ios-eye-outline" ></i>
                        </button>
						<button class='btn btn-compose' ng-if="vp.status == 'Pending'">
							<i class='ion-ios-compose-outline' ng-click="$ctrl.goToEdit(vp.id)"></i>
						</button>
					</div>
				</td>
			</tr>
		</tbody>
	</table>	
</div>


<view-vp-modal
	vp="$ctrl.vp"
	approve="$ctrl.approve($event)"
></view-vp-modal>

