<div class='client-rmpm'>
<div class="main-header">
	<div class="horizontal-align -between content">
		<h3 class="title">Receiving Receipt Slips</h3>
	</div>
  <a href="#" ng-click="$ctrl.createNewReceivingReceipt($event);" class="btn btn-create btn-md button-link">Create New Request</a>
  <a href="#" ng-click="$ctrl.createNewReceivingReceiptTolling($event);" style="background-color:blueviolet;" class="btn btn-create btn-md button-link">Create New RR Tolling Request</a>
</div>
<div class='client-pris'>
  <div class="search-box horizontal-align -between">
      <div class="input-group-addon" style="border: 0	 !important;">
          <i class="fa fa-search"></i>
        </div>
        <input class="form-control -borderless search" placeholder="RR No" type="text" name="search" ng-model="$ctrl.searchNumber"
        />
        <input class="form-control -borderless search" placeholder="Date" type="text" name="search" ng-model="$ctrl.searchDate" />
  </div>
</div>
  <nav class='nav nav-pills nav-fill nav-form'>
    <a ng-click="$ctrl.listByStatus('Pending')" class='nav-item nav-link item' ng-class="{active: $ctrl.status === 'Pending'}">Pending</a>
    <a ng-click="$ctrl.listByStatus('Incomplete')" class='nav-item nav-link item' ng-class="{active: $ctrl.status === 'Incomplete'}">Incomplete</a>
    <a ng-click="$ctrl.listByStatus('Completed')" class='nav-item nav-link item' ng-class="{active: $ctrl.status === 'Completed'}">Completed</a>
  </nav>
  <div class='tab-content'>
    <div class='tab-pane fade show active' id='quarantined'>
      <table class='table table-list'>
        <thead>
          <tr>
            <th>R.R No</th>
            <th>Date</th>
            <th>DR / SI</th>
            <th>Received By</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="rr in $ctrl.receivingReceipts">
            <td>{{rr.number}}</td>
            <td>{{rr.date | date}}</td>
            <td>DR:{{rr.drNumber}}<br>SI:{{rr.siNumber}}</td>
            <td>{{rr.receivedBy.department.name}}</td>
            <td class='tablebutton-form'>
              <div class='holder'>
                <button data-toggle="modal" ng-click="$ctrl.openModal(rr)" data-target="#rrModal" class='btn btn-show'>
                  <i class='ion-ios-eye-outline'></i>
                </button>
                <button class='btn btn-compose'>
                  <i class='ion-ios-compose-outline'></i>
                </button>
                <button class='btn btn-archive'>
                  <i class='ion-ios-box-outline'></i>
                </button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<view-rr-modal
rr="$ctrl.rr"
></view-rr-modal>



