.modal-close {
  position: relative;
  height: 28px;
  width: 28px;
  overflow: hidden;

  > span > i {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 42px;
    color: $dark;
  }
}
