
<div class="admin-header">
    <div class="title horizontal-align -between">
        <h4 class="bg">Manufacturing Order</h4>
    
    </div>
    <hr class="devider">
</div>


<div class="main-header">
	<div class="horizontal-align -between content">
		<h3 class="title">Manufacturing Order</h3>
    </div>
    <a href="/admin/rnd/mo/multi-test" class="btn btn-warning btn-md button-link">Multi-test</a>
	<a href="/admin/rnd/mo/new" class="btn btn-create btn-md button-link">Create Pre-Manufacturing Order</a>
</div>
<div class="search-box horizontal-align -between">
	<div class=" search-modal horizontal-align -between">
			<div class="input-group-addon" style="border: 0	 !important;"><i class="fa fa-search"></i></div>
			<input class="form-control -borderless search" placeholder="id" type="text" name="search" ng-model="$ctrl.searchId"/>
			<input class="form-control -borderless search" placeholder="moNumber" type="text" name="search" ng-model="$ctrl.searchMoNumber"/>
			<input class="form-control -borderless search" placeholder="lotNumber" type="text" name="search" ng-model="$ctrl.searchLotNumber"/>
		</div>
</div>
	<table ng-if="$ctrl.moList" class='table table-list'>
		<thead>
		<tr>
			<th>
			<a href="#" ng-click="$ctrl.sortType = 'id';$ctrl.sortReverse = !$ctrl.sortReverse;">Pre-MO #
				<span ng-show="$ctrl.sortType == 'id' && !$ctrl.sortReverse">
					<i class="fa fa-caret-down"></i>
				</span>
				<span ng-show="$ctrl.sortType == 'id' && $ctrl.sortReverse">
					<i class="fa fa-caret-up"></i>
				</span>
			</a>
		</th>
		<th>
			<a href="#" ng-click="$ctrl.sortType = 'moNumber';$ctrl.sortReverse = !$ctrl.sortReverse;">MO #
				<span ng-show="$ctrl.sortType == 'moNumber' && !$ctrl.sortReverse">
					<i class="fa fa-caret-down"></i>
				</span>
				<span ng-show="$ctrl.sortType == 'moNumber' && $ctrl.sortReverse">
					<i class="fa fa-caret-up"></i>
				</span>
			</a>
		</th>
		<th>
			<a href="#" ng-click="$ctrl.sortType = 'lotNumber';$ctrl.sortReverse = !$ctrl.sortReverse;">Lot #
				<span ng-show="$ctrl.sortType == 'lotNumber' && !$ctrl.sortReverse">
					<i class="fa fa-caret-down"></i>
				</span>
				<span ng-show="$ctrl.sortType == 'lotNumber' && $ctrl.sortReverse">
					<i class="fa fa-caret-up"></i>
				</span>
			</a>
		</th>
			<th>Name</th>
			<th>Batch Size</th>
			<th>Date Created</th>
            <th></th>
		</tr>
		</thead>
		<tbody>
			<tr ng-repeat="mo in $ctrl.moList | filter: {id: $ctrl.searchId, moNumber: $ctrl.searchMoNumber, lotNumber:$ctrl.searchLotNumber}| orderBy:$ctrl.sortType:$ctrl.sortReverse"  >
				<td>{{mo.id}}</td>
				<td>{{mo.moNumber || 'N/A'}}</td>
				<td>{{mo.lotNumber || 'N/A'}}</td>
				<td>{{mo.moName}}</td>
				<td>{{mo.batchSize}}</td>
				<td>{{mo.dateCreated | date}}</td>
				<td>
						<i class="ion-ios-compose-outline" ng-click="$ctrl.view(mo.id)"></i>
					<a href="#" ng-if="!mo.moNumber" ng-click="$ctrl.manufactureOrder(mo);" class="btn btn-create btn-md button-link">Manufacture Order</a>
				</td>
			</tr>
		</tbody>
	</table>
<view-product-modal
	product="$ctrl.product"
></view-product-modal>



<div class="clear-float"></div>
</div>


